<mat-card style="margin:20px 40px 40px 40px">

  <mat-card-content>
    <mat-form-field class="inputLecturaDeMedia" appearance="fill">
      <mat-label>Lectura de Etiqueta</mat-label>
      <input matInput [(ngModel)]="codigoRecibido" name="codigoRecibido" (keyup.enter)="InsertarLecturaDeMedia(codigoRecibido)" >
    </mat-form-field>

    <div class="grid-container-panel">
      <div class="grid-item-panel-1" *ngIf="usuarioLogueado != 'salidaabasto'">
        <mat-list>
          <mat-list-item>Items Escaneados: {{totalLecturas}} </mat-list-item>
          <mat-divider></mat-divider>
          <button mat-flat-button color="primary" (click)="abrirModalDeLecturasAbasto()" style="margin-top: 10px;">
            <mat-icon>edit</mat-icon>Agregar Media sin Etiqueta
          </button>
        </mat-list>
      </div>

      <div class="grid-item-panel-2" *ngIf="usuarioLogueado != 'salidaabasto'">
        <h1 class="grid-item-panel-titulo">
          <span class="secuencial">Secuencial:  </span>
          <p class="codigo">{{ ultimoSecuencialEscaneado }}</p>
        </h1>
        <h1 class="grid-item-panel-titulo">
          <span class="secuencial">Lado:   </span>
          <p class="codigo">{{ ultimoLadoEscaneado }}</p>
        </h1>
      </div>
    </div>

    <div class="mostrarEnPAntallaDePC">
      <table mat-table [dataSource]="dataListaDeLecturas">

        <ng-container matColumnDef="lecturaDeScaner">
          <th mat-header-cell *matHeaderCellDef>Lectura de Media</th>
          <td mat-cell *matCellDef="let element"> {{element.lecturaDeMedia}} </td>
        </ng-container>

        <ng-container matColumnDef="idAnimal">
          <th mat-header-cell *matHeaderCellDef>Id Animal</th>
          <td mat-cell *matCellDef="let element"> {{element.idAnimal}} </td>
        </ng-container>

        <ng-container matColumnDef="secuencia">
          <th mat-header-cell *matHeaderCellDef>Secuencial</th>
          <td mat-cell *matCellDef="let element"> {{element.secuencial}} </td>
        </ng-container>

        <ng-container matColumnDef="operacion">
          <th mat-header-cell *matHeaderCellDef>Operacion</th>
          <td mat-cell *matCellDef="let element"> {{element.operacion}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaDeRegistro">
          <th mat-header-cell *matHeaderCellDef>Fecha de Registro</th>
          <td mat-cell *matCellDef="let element"> {{element.fechaDeRegistroString}} </td>
        </ng-container>

        <!-- Fila de Encabezado -->
        <tr mat-header-row *matHeaderRowDef="columnasTablaDeAbasto"></tr>
        <!-- Fila de Datos -->
        <tr mat-row *matRowDef="let row; columns: columnasTablaDeAbasto;" [ngClass]="{'claseDePrimerColumna': ubicarUltimaFilaInsertada(row)}"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
      </mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
