
<body>
    <div  class="contenedor-general">
        <p-tabView>
            <p-tabPanel header="FT Marcas">
                <component-ft-seccion-marca></component-ft-seccion-marca>
            </p-tabPanel>

            <p-tabPanel header="FT Condicion Almacenamiento">
                <component-ft-seccion-condicion-almacenamiento></component-ft-seccion-condicion-almacenamiento>
            </p-tabPanel>

            <p-tabPanel header="FT Alergenos">
                <component-ft-seccion-alergenos></component-ft-seccion-alergenos>
            </p-tabPanel>

            <p-tabPanel header="FT Alimentacion">
            <component-ft-seccion-alimentacion></component-ft-seccion-alimentacion>
            </p-tabPanel>

            <p-tabPanel header="FT Color">
                <component-ft-seccion-color></component-ft-seccion-color>
            </p-tabPanel>

            <p-tabPanel header="FT Olor">
                <component-ft-seccion-olor></component-ft-seccion-olor>
            </p-tabPanel>

            <p-tabPanel header="FT PH">
                <component-ft-seccion-ph></component-ft-seccion-ph>
            </p-tabPanel>

            <p-tabPanel header="FT Presentacion Envase">
                <component-ft-seccion-tipo-presentacion-de-envase></component-ft-seccion-tipo-presentacion-de-envase>
            </p-tabPanel>

            <p-tabPanel header="FT Tipo Envase">
                <component-ft-seccion-tipo-de-envase></component-ft-seccion-tipo-de-envase>
            </p-tabPanel>

            <p-tabPanel header="FT Tipo De Uso">
                <component-ft-seccion-tipo-de-uso></component-ft-seccion-tipo-de-uso>
            </p-tabPanel>

            <p-tabPanel header="FT Vida Util">
                <component-ft-seccion-vida-util></component-ft-seccion-vida-util>
            </p-tabPanel>
        </p-tabView>
    </div>
</body>

