<div class="packing__container">
    <div class="container--title">Packing List Israel</div>
    <div class="fechas__container">
        <div>
            <label for="fechaDesde">Fecha de carga:&nbsp;</label>
            <input type="date" name="fechaDesde" id="fechaDesde" [(ngModel)]="fechaDesdeStr" (ngModelChange)="onCambioFecha()" [max]="hoyStr">
        </div>
        <button pButton type="button" name="btnReporte" label="Buscar contenedores" class="p-button-sm" icon="pi pi-search" (click)="buscarDatos()"></button>
        <button pButton type="button" name="btnReiniciar" label="Reiniciar" class="p-button-sm p-button-secondary" icon="pi pi-refresh" (click)="reiniciar()"></button>
    </div>
    <div class="container__selection" *ngIf="datosContenedores.length > 0">
        <p-tabView>
            <p-tabPanel header="Selección de contenedores">
                <div class="selection">
                    <label for="cargaSelect" class="selection--title">Selecciona contenedor(es):</label>
                    <div class="custom-select">
                        <div class="select-box" (click)="toggleDropdown()">
                            <span *ngIf="selectedCargas?.length">{{ selectedCargas.length }} seleccionados</span>
                            <span *ngIf="!selectedCargas?.length">Nada seleccionado</span>
                        </div>
                        <div *ngIf="dropdownOpen" class="select-options">
                            <div 
                                *ngFor="let carga of datosContenedores" 
                                class="select-option" 
                                [class.selected]="selectedCargas.includes(carga.id_Carga)" 
                                (click)="toggleSelection(carga.id_Carga)"
                            >
                                <div class="cargaid">
                                    <div>{{ carga.container }}</div>
                                    <div>({{ carga.id_Carga }})</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="main--btn">
                    <button pButton type="button" name="btnReporte" label="Ok" class="p-button-sm" icon="pi pi-check" (click)="hacerReporte()"></button>
                </div>
            </p-tabPanel>
            <p-tabPanel header="X FCL" *ngIf="mostrarReporte"><x-fcl [datos]="datosCajasPrecio" /></p-tabPanel>
            <p-tabPanel header="X CUT" *ngIf="mostrarReporte"><x-cut [datos]="datosCajasPrecio" /></p-tabPanel>
            <p-tabPanel header="PL Per Pallet" *ngIf="mostrarReporte"><pl-per-pallet [datos]="datosCajasPrecio" /></p-tabPanel>
            <p-tabPanel header="PL Per Carton" *ngIf="mostrarReporte"><pl-per-carton [datos]="datosCajasPrecio" /></p-tabPanel>
        </p-tabView>
    </div>
</div>

<sir-exportacion *ngIf="mostrarReporte" 
    [excel]="true"
    [nombreArchivo]="nombreReporte"
    [idReporte]="idReporte"
    [dataPrint]="{registros: datosCajasPrecio}"
/>

<p-confirmDialog 
    key="mensajeDialog" 
    rejectButtonStyleClass="p-button-outlined" />