
@import "../../../../node_modules/primeflex/primeflex.min.css";


#mainContent {
    position: relative;
    padding: 0;
    height: calc(100vh - 64px);
    width: 100%;
}

.logo {
    width: 80px;
}

.titulo {
    color: #645A55;
}

.goMain:hover {
    cursor: pointer;
}