<h1>Ficha Tecnica Seccion Marcas</h1>
<button (click)="CrearElemento()" pButton label="Crear Marca"></button>

<div class="flex-container">
    <p-table    
        [value]="responseMarcasDTO"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 15, 20]"
        [scrollable]="true">

        <ng-template pTemplate="header">
            <tr>
                <th style="width:20%">Id Marca </th>
                <th style="width:20%">Nombre</th>
                <th style="width:20%">Descripción</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-element>
            <tr>
                <td>{{element.idMarca}}</td>
                <td>
                    <input *ngIf="marcaSeleccionada?.idMarca === element.idMarca" [(ngModel)]="marcaSeleccionada!.nombre" />
                    <span *ngIf="marcaSeleccionada?.idMarca !== element.idMarca">{{element.nombre}}</span>
                </td>
                <td class="descripcion">
                    <input *ngIf="marcaSeleccionada?.idMarca === element.idMarca" [(ngModel)]="marcaSeleccionada!.descripcion" />
                    <span *ngIf="marcaSeleccionada?.idMarca !== element.idMarca">{{element.descripcion}}</span>
                </td>
                <td>
                    <button pButton icon="pi pi-pencil" (click)="EditarElemento(element)" *ngIf="marcaSeleccionada?.idMarca !== element.idMarca"></button>
                    <button pButton icon="pi pi-check" (click)="GuardarCambios()" *ngIf="marcaSeleccionada?.idMarca === element.idMarca"></button>
                    <button pButton icon="pi pi-trash" (click)="EliminarElemento(element)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
