
.grid-container {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 20px; 
}

.table-container-producto {
    grid-column: 1; 
    grid-row: 1 / span 2;

    background-image: url('../img/RGB_v1-beige.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 600px 250px;
}

.grid-item{
    padding: 20px;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
}

.seccion-de-relleno{
    background-image: url('../img/RGB_v1-beige.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px 50px;
}

.target{
    padding: 10px;
}

