@import "../../../../../node_modules/primeflex/primeflex.min.css";

:root {
    --background-linea: #0088FF;
}

.viewer {
    color: #0088FF;
    background-color: rgba(52,152,219, 0.1);
}

.viewer:hover {
    cursor: pointer;
    color: #fff;
    border: 1px solid;
    background-color: #0088FF;
    border-radius: 5px;
    border: none;
}


.data--linea,
.data--nombre,
.data--nroFunc {
    border: 1px solid #3498DB;
}

.data {
    display: flex;
}

.data > div {
    flex: 1; 
}

.data--nombre {
    font-size: 0.75rem;
}

.data--nroFunc {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.data--linea {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

@media (min-width:1200px) and (max-width:1762px) {
   
}