<div class="data flex flex-row viewer" *ngFor="let funcionario of funcionarios" pTooltip="Clic para ver horarios de logueo de {{funcionario.nombreEmpleado}}" (click)="mostrarHorarioLogueo(funcionario.codigoEmpleado, funcionario.nombreEmpleado)">
    <div class="data--nroFunc p-2 text-center" style="flex: 1">{{funcionario?.codigoEmpleado}}</div>
    <div class="data--nombre p-2" style="flex: 4">{{funcionario.nombreEmpleado}}</div>
    <div class="data--linea p-2 text-center" style="flex: 2">{{funcionario.nombreEstacion}}</div>
</div>