<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Sistema Integral de Reportes <small
                    class="text-muted d-block d-lg-inline">&nbsp;Solicitud de cambio de contraseña</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <span class="p-float-label">
                                <input pInputText id="nombreUsuario"  class="form-control" />
                                <label for="nombreUsuario">Nombre de usuario</label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row botones">
                        <div class="flex flex-wrap gap-3 justify-content-rigth">
                            <button pButton type="button" label="Cancelar" class="p-button-outlined" routerLink="principal" (click)="goBack()"></button>
                            <button pButton type="button" label="Enviar" id="btnEnviar" (click)="enviarSolicitudCambioContrasenia();"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-modal
    (cambioVisibilidad)="cambiarVisibilidad($event);"
    [visible]="visible"
    [mod]="mod">
</app-modal>