@import '~primeicons/primeicons.css';
@import '~primeng/resources/primeng.min.css';
@import '../../../../node_modules/primeflex/primeflex.min.css';


.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60%;
}

.content {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); /* Sombra alrededor */
}


  #logo {
    width: 120px;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-family: 'Helvetica', sans-serif;
    color: #808B96;
}

.subtitle {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.lblInput {
    font-size: 1rem;
    color: #808B96 !important;
}

.p-button .p-button-label {
    font-weight: 100 !important;
}