<div class="contenedor">
    <div class="content sm:col-12 md:col-4">
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <img id="logo" class="mt-5" src="../../../assets/images/logo relleno azul.png" alt="Logo FLP">
            </div>
        </div>
        <div class="flex flex-column align-items-center mb-5">
            <p class="title">Sistema Integral de Reportes</p>
            <p class="subtitle">Solicitud de cambio de contraseña</p>
        </div>
        <div class="flex flex-column align-items-center">
            <div class="p-float-label flex align-content-start col-8">
                <input pInputText id="nombreUsuario" class="col-12"/>
                <label for="nombreUsuario" class="pl-2 lblInput">Nombre de usuario</label>
            </div>
        </div>
        <hr class="mt-7">
        <div class="flex flex-row justify-content-end gap-3 mt-1">
            <p-button label="Enviar" id="btnEnviar" (click)="enviarSolicitudCambioContrasenia();"></p-button>
            <p-button label="Cancelar" styleClass="p-button-danger" routerLink="principal"
                (click)="goBack()"></p-button>
        </div>
    </div>
</div>

<app-modal (cambioVisibilidad)="cambiarVisibilidad($event);" [visible]="visible" [mod]="mod">
</app-modal>