<h1 class="tituloDispositivo" style="margin:20px 0px 0px 40px"> Lecturas</h1>

<mat-card style="margin:20px 40px 40px 40px" >

    <mat-divider></mat-divider>

    <mat-card-content class="dashboard-card-content">

        <mat-form-field style="margin:20px">
            <mat-label>ID</mat-label>
            <input matInput [(ngModel)]="idInput"  placeholder="Ingrese ID de Caja">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="generarListadoDeCajas(idInput)">
            <mat-icon mat-list-icon>autorenew</mat-icon> Buscar Lectura
        </button>

        <div class="mat-elevation-z2">

            <table mat-table [dataSource]="dataListaLecturas">

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha</th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="dispositivo">
                    <th mat-header-cell *matHeaderCellDef> Dispositivo</th>
                    <td mat-cell *matCellDef="let element"> {{element.dispositivo}} </td>
                </ng-container>                               

                <ng-container matColumnDef="ubicacion">
                    <th mat-header-cell *matHeaderCellDef> Ubicacion</th>
                    <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                </ng-container> 

                <ng-container matColumnDef="lectura">
                    <th mat-header-cell *matHeaderCellDef> Lectura</th>
                    <td mat-cell *matCellDef="let element"> {{element.lectura}} </td>
                </ng-container>   

                <ng-container matColumnDef="idCaja">
                    <th mat-header-cell *matHeaderCellDef> Id Caja</th>
                    <td mat-cell *matCellDef="let element"> {{element.idCaja}} </td>
                </ng-container>
                            
                <tr mat-header-row *matHeaderRowDef="columnasTablaLectura"></tr>
                <tr mat-row *matRowDef="let row; columns : columnasTablaLectura;"></tr>

                <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
                </mat-paginator>

            </table>
        </div>
    </mat-card-content>

    <mat-card-content class="dashboard-card-content">


        <div class="mat-elevation-z2">

            <table mat-table [dataSource]="dataListaLecturasExpo" style="margin-top:20px">

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Esport Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="dispositivo">
                    <th mat-header-cell *matHeaderCellDef> Palletizado</th>
                    <td mat-cell *matCellDef="let element"> {{element.dispositivo}} </td>
                </ng-container>                               

                <ng-container matColumnDef="ubicacion">
                    <th mat-header-cell *matHeaderCellDef> Palletizado</th>
                    <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
                </ng-container> 

                <ng-container matColumnDef="lectura">
                    <th mat-header-cell *matHeaderCellDef> Container</th>
                    <td mat-cell *matCellDef="let element"> {{element.lectura}} </td>
                </ng-container>   

                <ng-container matColumnDef="idCaja">
                    <th mat-header-cell *matHeaderCellDef> Id Pallet</th>
                    <td mat-cell *matCellDef="let element"> {{element.idCaja}} </td>
                </ng-container>
                            
                <tr mat-header-row *matHeaderRowDef="columnasTablaLecturaExpo"></tr>
                <tr mat-row *matRowDef="let row; columns : columnasTablaLecturaExpo;"></tr>              

                <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
                </mat-paginator>

            </table>
        </div>
    </mat-card-content>
</mat-card>
