@font-face {
    font-family: 'sackers';
    src: url('../../../fonts/SackersGothicStd-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
.logo {
    height: 700px;
    width: 80%;
    opacity: 0.2;
}

.contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.1;
    padding: 1rem;
    background-image: url('../../../assets/images/flp/home-img-flp.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    letter-spacing: .8px;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle; 
}

.mustard {
    color: #AF6E23;
}

.sackers {
    font-family: 'Sackers', sans-serif;
}

.regular {
    font-weight: 400;
}

.text-uppercase {
    text-transform: uppercase;
}

.contenedor__imagen {
    width: 100%;
    height: 20%;
}


.fondo__1 {
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/flp/frigorifico-las-piedras.png');
    background-repeat: no-repeat;
    background-position: top;
}

.fondo__2 {
    width: 100%;
    height: 100%;
    align-self: center;
}

.fondo__3 {
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/flp/productos-flp.png');
    background-repeat: no-repeat;
    background-position: top;
}

.imagen__fondo {
    display: flex;
    justify-content: center; 
    align-items: center;     
  }

.grafico__container {
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}
 
.grafico__graficos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.grafico__wrapper {
    width: 70%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-bottom: 1rem;
}

.grafico {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    height: 55%;
}

.grafico__data,
.grafico__data--display {
    width: 100%;
    height: 100%;
}

.grafico__data--display,
.data__titulo {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data__titulo {
    gap: 20px;
}

.titulo__text {
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.titulo__value {
    font-size: 2.5rem;
    font-weight: 700;
}

.grafico__data--display {
    gap: 25px;
}

.data__clasificacion {
    width: 50%;
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: -60px;
}

.grade {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-variant: tabular-nums;
}

.grade__anual {
    display: none;
}

.clasificacion__container {
    width: 50%;
}
