@import "../../../../node_modules/primeflex/primeflex.min.css";

.logo {
    height: 700px;
    width: 80%;
    opacity: 0.2;
}

.contenedor {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.contenedor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/logos/logo_t3.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    z-index: -1; 
}