

<div class="contenedor-pagina">
    
    
    <div class="seccion-formulario">
        <form #productoForm="ngForm">
            
    <div class="titulo">
        <h1>CREAR DEPARTAMENTO</h1>
        </div>

    <div class="contenedor-campos">
      <label>Nombre del Departamento</label>
      <input 
          type="text" 
          [(ngModel)]="nombreDepartamento" 
          name="nombreDepartamento"
          placeholder="Ingrese el nombre"  
          required> 
    </div>

    
    <div class="contenedor-campos">
      <label>Código Departamento</label>
      <input 
          type="text" 
          [(ngModel)]="codigoDepartamento" 
          name="codigoDepartamento"
          placeholder="Ingrese el código del departamento"  
          required> 
    </div>

      <button pButton type="button" label="Crear" icon="pi pi-plus" class="btn_crear" (click)="crearDepartamento()"></button>   
    </form>

</div>
</div>
