

/* Estilos Del Menú */

.titulo {
    margin-top: 4rem;
    display: flex;
    font-size: 6rem;
    justify-content: center;
    align-self: center;
  }

  .menu{

    display: flex;
    flex-direction: column;
    width: max-content;
    align-self: center;
    margin-top: 10rem;
    row-gap: 1rem;

  }


  .menu_titulo{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-self: center;
    margin-bottom: 2rem;
  }

  .btn_menu{
    /* margin-top: 10rem; */
    display: flex;
    justify-content: center;

    font-size: 2rem;
    width: 50rem;
}
  
  .menu__container{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .menu_Crear_Pedido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 2rem;
  }
  .pedidos_recibidos{
    border-color: none;
    background-color:#1a5276;
  }
  
  .entregador{
    /* background-color: #81523F; */
    background-color: #117864;
  }

  @media (max-width: 768px) {
  
    .titulo {
      margin-top: 1rem;
      display: flex;
      font-size: 3rem;
      justify-content: center;
      align-self: center;
      text-align: center;
      
    }
  }
  
