
body{
  height: 100%; 
  margin: 0; 
  padding: 1rem;
  background-color: #868687; 
  display: flex;
  justify-content: center; 
  align-items: baseline;
  font-family: Arial, sans-serif;
}

.contenedor-de-pagina {
  width: 95%;
  height: auto; /* Alto A4 */
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  /* background-color: white; */
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f1f1f1;  
}


tr:hover {
  background-color: #e9ecef; 
}

button {
  margin: 5px;
  padding: 6px 12px;
  background-color: #528a51;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;  
}

button:hover {
  background-color: #0056b3;
}

