body {
  padding: 1rem;  
  background-color: #868687; 
}

th, td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f1f1f1;  
}

tr:hover {
  background-color: #e9ecef; 
}

button {
  margin: 5px;
  padding: 6px 12px;
  background-color: #528a51;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;  
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .contenedor-de-pagina {
    width: 90%; 
  }

  table {
    font-size: 14px; 
  }

  th, td {
    padding: 6px 10px; 
  }

  button {
    padding: 4px 8px; 
    font-size: 12px;
  }

  .p-datatable .p-datatable-header {
    font-size: 14px; 
  }
}

/* Estilo para 'CrearProductoFichaTecnica' */
.crear-ficha {
  width: 90%;              
  height: 90vh;          
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;       
  text-align: center;
  padding: 0;              
  margin: 0;              
  overflow: hidden;        
}

.crear-ficha p-table {
  width: 100%;               
  height: calc(100vh - 20px); 
  overflow: auto;          
  table-layout: fixed;       
}

.crear-ficha p-table .acciones {
  display: flex; 
  justify-content: flex-end; 
  gap: 8px; 
  margin-top: 10px; 
}