<div class="titulo">
    Pedidos A Armar
</div>
<div >

  </div>
<div class="botones">
    <button class="btn_actualizar" (click)="iniciar()">Actualizar</button>
    <app-boton-volver></app-boton-volver>
</div>

<div class="lbl_fecha_pedido">

    <div class="filtroFecha">


        <input #fechaPedido (ngModelChange)="filtrarPedidosPorFecha(fechaPedido.value)" type="date" class="fecha" id="fecha" name="fecha" [(ngModel)]="fechaFiltrada" > 
    
            <!-- <label class="lbl_form_radio">
                <input #verFecha type="radio" name="filtro" value="fecha" (click)="filtrarPedidosPorFecha(fechaFiltrada)"  [(ngModel)]="filtroSeleccionado"> Filtrar por Fecha
                <input #verTodos type="radio" name="filtro" value="todos" (click)="filtrarPedidosTodos()" [(ngModel)]="filtroSeleccionado"> Ver Todos              
            </label> -->


            <button [ngClass]="{'activoFecha':filtroFecha==1 }" (click)="filtrarPedidosPorFecha(fechaFiltrada)"  [(ngModel)]="filtroSeleccionado">Filtrar Por Fecha</button>
            <button [ngClass]="{'activoFecha':filtroFecha==0 }" (click)="filtrarPedidosTodos()" [(ngModel)]="filtroSeleccionado">Ver Todos</button>
    </div>

   
</div>

<div>
    <p-table
        [value]="pedidosRecibidos!"
        styleClass="p-datatable-striped"
        [scrollable]="true"
        scrollHeight="600px"
        >
        <ng-template pTemplate="header">
            <tr>
                <th class=""><div class="columna">Img</div></th>
                <!-- <th class=""><div class="columna">Prior. Pedido</div></th> -->
                <th class=""><div class="columna">N° Pedido</div></th>
                <th class=""><div class="columna">Fecha</div></th>
                <th class=""><div class="columna">Prior. Caja</div></th>
                <th class=""><div class="columna">Diseño</div></th>
                <th class=""><div class="columna">Tamaño</div></th>
                <th class=""><div class="columna">Tipo</div></th>
                <th class=""><div class="columna">Cajas Solicitadas</div></th>
                <!-- <th class=""><div class="columna">Cajas Armadas</div></th> -->
                <th class=""><div class="columna">Saldo</div></th>
                <th class=""><div class="columna">Acción</div></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pedido  *ngIf="pedidosRecibidos">
            <tr class="rojo">
                <td class="img" [ngClass]="clasePedidos(pedido.id_Pedido_Padre)"><div class="img_caja"><img src="{{getUrlCaja(pedido.idCaja)}}" (click)="setUrlPopUpGrande(getUrlCaja(pedido.idCaja))" class="img_Url"></div></td>
                <!-- <td [ngClass]="{'prioridadUno':pedido.prioridad==1,'prioridadDos':pedido.prioridad==2,'prioridadTres':pedido.prioridad==3}"><div class="valor" >{{pedido.fecha_Pedido | date:'dd/MM/yyyy'}}</div></td>    -->
                <td [ngClass]="clasePedidos(pedido.id_Pedido_Padre)"><div class="valor" >{{pedido.id_Pedido_Padre}}</div></td>
                <td [ngClass]="clasePedidos(pedido.id_Pedido_Padre)"><div class="valor" >{{pedido.fecha_Pedido | date:'dd/MM/yyyy'}}</div></td>
                <!-- <td [ngClass]="clasePedidos(pedido.id_Pedido_Padre)"><div class="valor" >{{pedido.prioridad_Pedido_Padre}}</div></td> -->
                <!-- <td [ngClass]="clasePedidos(pedido.id_Pedido_Padre)"><div class="valor" >{{pedido.id_Pedido_Padre}}</div></td> -->
                <td [ngClass]="clasePedidos(pedido.id_Pedido_Padre)"><div class="valor" >{{pedido.prioridad}}</div></td>
                <td [ngClass]="clasePedidos(pedido.id_Pedido_Padre)"><div class="valor" >{{pedido.diseno}}</div></td>
                <td [ngClass]="clasePedidos(pedido.id_Pedido_Padre)"><div class="valor" >{{pedido.tamano}}</div></td>
                <td [ngClass]="clasePedidos(pedido.id_Pedido_Padre)"><div class="valor" >{{pedido.tipo}}</div></td>
                <td [ngClass]="clasePedidos(pedido.id_Pedido_Padre)"><div class="valor" >{{pedido.cantidadArmar}}</div></td>   
                <!-- <td [ngClass]="{'prioridadUno':pedido.prioridad==1,'prioridadDos':pedido.prioridad==2,'prioridadTres':pedido.prioridad==3}"><div class="valor" >{{pedido.cantidadArmado}}</div></td>  -->
                <td [ngClass]="clasePedidos(pedido.id_Pedido_Padre)"><div class="valor" >{{pedido.cantidadArmar - pedido.cantidadArmado}}</div></td>
                <td [ngClass]="clasePedidos(pedido.id_Pedido_Padre)">
                    <div class="container_btn_confirmar">

                        <button class="btn_confirmar" (click)="mostrarPopUp(pedido.idPedido, pedido.idCaja)"><span>Armar</span></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" *ngIf="pedidosRecibidos">
            <tr class="footer--total">
                <td colspan="6"></td>
                <td><div class="total">TOTAL</div></td>
                <td class="totalFooter"><div class="total">{{totalCajasSolicitadas()}}</div></td>   
                <!-- <td class="totalFooter"><div class="total">{{totalCajasArmadas()}}</div></td>  -->
                <td class="totalSaldo"><div class="totalS"> {{totalSaldo()}}</div></td>
                <td colspan="2"></td>
            </tr>
        </ng-template>
    </p-table>
</div>


<div class="no__data" *ngIf="pedidosRecibidos?.length === 0">
    No hay pedidos para la fecha seleccionada
</div>

<!-- Pop Up Cantidad -->

<div class="popUpCajas" id="popUp" [style.display]="popUpVisible ? 'block' : 'none'">

    <div class="popup-content">
        <app-pop-up-cantidad (cantidadSeleccionada)="guardarCantidad($event)"></app-pop-up-cantidad>
    </div>
</div>


<div class="img_Grande_Pop_Up" [style.display]="popUpVisibleImgGrande ? 'block' : 'none'">
   
    <div class="contenedor_Img_Grande">

        <img src="{{img_Grande_Url}}" class="imgGrandePopUp">
        <button class="btn_Img_Grande" (click)="cerrar_PopUp_Grande()">Cerrar</button>
    </div>


</div>



<!-- Cuadro de Diálogo -->
<div id="confirmDialogPedidoCaja" class="dialog">
    <div class="dialog-content">
      <h2>Error en la cantidad</h2>
      <p>{{mensaje}}</p>
      <button (click)="closeDialog()">Aceptar</button>
    </div>
  </div>