<h1 class="tituloDispositivo" style="margin:20px 0px 0px 40px"> Porsentajes de Merma</h1>

<mat-card style="margin:20px 40px 40px 40px" >

    <mat-divider></mat-divider>

    <mat-card-content class="dashboard-card-content">
        <!-- Panel de Datos -->
        <mat-card style="margin:20px 0;">
          <mat-card-header>
            <mat-card-title>Pesos por Proveedor</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <canvas id="chartBarras" style="height: 200px; width: 100%;"></canvas>
          </mat-card-content>

		      <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Promedios
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="flex-container">
              <div class="flex-item">
                    <p *ngIf="promedioDePesosFrios !== null">Promedio de Peso Frio: {{ promedioDePesosFrios | number: '1.2-2' }}</p>
                    <hr>
                    <p *ngIf="promedioDePesosCalientes !== null">Promedio de Peso Caliente: {{ promedioDePesosCalientes | number: '1.2-2' }}</p>
                    <hr>
                    <p *ngIf="promedioPorcentajeDeMerma !== null">Promedio % Merma: {{ promedioPorcentajeDeMerma | number: '1.2-2' }}%</p>
              </div>

              <div class="flex-item">
                <p *ngIf="totalKgPorSeleccion !== null">Total por Seleccion: {{totalKgPorSeleccion}} KG</p>
                <hr>
                <p *ngIf="totalLecturas !== null">Total Registros Balanza: {{totalLecturas}}</p>
                <hr>
                <p *ngIf="totalLecturasInnova !== null">Total Registros Innova: {{totalLecturasInnova}}</p>
              </div>

              <div class="flex-item">
                  <mat-form-field class="comboSelect" *ngIf="dataListaLecturasMerma.data.length > 1">
                    <mat-label>Seleccione una opción</mat-label>
                      <mat-select [(value)]="proveedorSelecionado" (selectionChange)="aplicarFiltroDeProveedor($event.value)" disableRipple>
                        <mat-option value = "Todos"> Todos </mat-option>
                        <mat-option *ngFor="let proveedor of proveedoresSet" [value]="proveedor">
                          {{ proveedor }}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>


                  <mat-form-field class="comboSelect" *ngIf="proveedorSelecionado != 'Todos' && proveedorSelecionado != null">
                    <mat-label> Seleccione una opción </mat-label >
                    <mat-select  [(value)]="etiquetaSeleccionada" (selectionChange)="resumenDeDatos()" disableRipple >
                      <mat-option value = "Todos"> Todos </mat-option>
                      <mat-option *ngFor="let etiqueta of gradeSet" [value]="etiqueta" > {{etiqueta}} </mat-option >
                    </mat-select>
                  </mat-form-field>
              </div>

            </div>
          </mat-expansion-panel>
        </mat-card>


        <mat-form-field style="margin:20px">
            <mat-label>Dia de Comienzo</mat-label>
            <input matInput [matDatepicker]="pickerDesde" [(ngModel)]="fechaDesde" placeholder="Ingrese Fecha Desde">
            <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
            <mat-datepicker #pickerDesde></mat-datepicker>
        </mat-form-field>

        <button style="margin: 10px;" mat-raised-button color="primary" (click)="obtenerLecturaMermaPorPeso(fechaDesde)">
            <mat-icon mat-list-icon>autorenew</mat-icon> Generar Reporte
        </button>

        <button [disabled]="dataListaLecturasMerma.data.length < 1" style="margin: 10px;" mat-raised-button color="accent" (click)="exportarExcel()">
          <mat-icon mat-list-icon>download</mat-icon> Exportar a Excel
        </button>

        <div class="mat-elevation-z2">

                <table mat-table [dataSource]="dataListaLecturasMerma">

                    <ng-container matColumnDef="fechaDeBalanza">
                        <th mat-header-cell *matHeaderCellDef> Fecha de Balanza</th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaDeBalanza}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaDeInnova">
                      <th mat-header-cell *matHeaderCellDef> Fecha de Innova</th>
                      <td mat-cell *matCellDef="let element"> {{element.fechaDeInnova}} </td>
                  </ng-container>

                    <ng-container matColumnDef="carcassID">
                        <th mat-header-cell *matHeaderCellDef> CarcassID</th>
                        <td mat-cell *matCellDef="let element"> {{element.carcassID}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ladoAnimal">
                        <th mat-header-cell *matHeaderCellDef> Lado Animal</th>
                        <td mat-cell *matCellDef="let element"> {{element.ladoAnimal}} </td>
                    </ng-container>

                    <ng-container matColumnDef="diferenciadePeso">
                        <th mat-header-cell *matHeaderCellDef> Diferencia Peso</th>
                        <td mat-cell *matCellDef="let element"> {{element.diferenciadePeso}} </td>
                    </ng-container>

                    <ng-container matColumnDef="pesoInnova">
                        <th mat-header-cell *matHeaderCellDef> Peso Caliente</th>
                        <td mat-cell *matCellDef="let element"> {{element.pesoInnova}} </td>
                    </ng-container>

                    <ng-container matColumnDef="pesoLocal">
                        <th mat-header-cell *matHeaderCellDef> Peso Frio</th>
                        <td mat-cell *matCellDef="let element"> {{element.pesoLocal}} </td>
                    </ng-container>

                    <ng-container matColumnDef="porsentajeDeMerma">
                        <th mat-header-cell *matHeaderCellDef> % de Merma</th>
                        <td mat-cell *matCellDef="let element"> {{element.porsentajeDeMerma}} </td>
                    </ng-container>

                    <ng-container matColumnDef="porsentajePorMenudencia">
                      <th mat-header-cell *matHeaderCellDef> % Menudencia</th>
                      <td mat-cell *matCellDef="let element"> {{element.porsentajePorMenudencia}} </td>
                  </ng-container>

                    <ng-container matColumnDef="etiqueta">
                        <th mat-header-cell *matHeaderCellDef> Etiqueta</th>
                        <td mat-cell *matCellDef="let element"> {{element.etiqueta}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnasTablaMermaPorPeso"></tr>
                    <tr mat-row *matRowDef="let row; columns : columnasTablaMermaPorPeso;"></tr>
                </table>
            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>


