

<div class="contenedor-pagina">
    
    
    <div class="seccion-formulario">
        <form #productoForm="ngForm">
            
    <div class="titulo">
        <h1>CREAR UNIDAD</h1>
        </div>

    <div class="contenedor-campos">
      <label>Nombre de la unidad</label>
      <input 
          type="text" 
          [(ngModel)]="nombre" 
          name="nombre"
          placeholder="Ingrese el nombre"  
          required> 
    </div>
    <div class="contenedor-campos">
      <label>Código de la unidad</label>
      <input 
          type="text" 
          [(ngModel)]="codigo" 
          name="codigo"
          placeholder="Ingrese el código"  
          required> 
    </div>

   

   

      <button pButton type="button" label="Crear" icon="pi pi-plus" class="btn_crear" (click)="crearUnidad()"></button>   
    </form>

</div>
</div>
