

<div class="contenedor-pagina">
    
    
    <div class="seccion-formulario">

        <button pButton type="button" label="Crear Unidad" icon="pi pi-plus" class="btn_mostrarPopUp" (click)="mostrarPopUpUnidad()"></button>   
        <div class="titulo">
          <h1>LISTADO DE UNIDADES</h1>
          </div>
        <!-- Tabla para ver los datos actuales antes de crear uno  -->
  <div class="tablaMostrar">
    <p-table
      class="tabla"
      [value]="unidadExiste!"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10,20,40]"
      styleClass="p-datatable-striped"
      [scrollable]="true"
      scrollHeight="500px"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class=""><div class="columna">Nombre</div></th>
          <th class=""><div class="columna">Descripción</div></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-unidad>
        <tr>
          <td class="">
            <div class="valor">{{unidad.nombre}}</div>
          </td>
        
          <td class="">
            <div class="valor">{{unidad.codigo}}</div>
          </td>
          <td class="">
            <button pButton type="button" label="" icon="pi pi-trash" class="btn_borrar" (click)="borrarFila(unidad.idUnidad)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  </div>
  </div>

  <!-- Cierra tabla -->

  <div class="popUpCrear" *ngIf="mostrarPopUp">


    <div class="botones_cerrar_popUp">
      <button
        pButton
        type="button"
        label=""
        icon="pi pi-times"
        class="btn_cerrarPopUp"
        (click)="cerrarPopUpUnidad()"
      ></button>
    </div>


    <div class="titulo">
      <h1>CREAR UNIDAD</h1>
      </div>


    <div class="contenedor-campos">
      <label>Nombre de la unidad</label>
      <input 
          type="text" 
          [(ngModel)]="nombre" 
          name="nombre"
          placeholder="Ingrese el nombre"  
          required> 
    </div>
    <div class="contenedor-campos">
      <label>Código de la unidad</label>
      <input 
          type="text" 
          [(ngModel)]="codigo" 
          name="codigo"
          placeholder="Ingrese el código"  
          required> 
    </div>

   

   

      <button pButton type="button" label="Crear" icon="pi pi-plus" class="btn_crear" (click)="crearUnidad()"></button>   


</div>