

<div class="contenedor-pagina">
    
    
    <div class="seccion-formulario">
        <button pButton type="button" label="Crear Usuario" icon="pi pi-plus" class="btn_mostrarPopUp" (click)="mostrarPopUpUsuario()"></button>   
        
        <div class="contenedor__tituloBotones">
          <div class="titulo">
            <h1>LISTADO DE USUARIOS</h1>
              </div>  
              <div class="contenedor__botones">
                <button pButton type="button" label="Editar" icon="pi pi-pencil" [disabled]="!filaSeleccionada" (click)="editarFila()"></button>
                <button pButton type="button" label="Eliminar" icon="pi pi-trash" class="btn_borrar" [disabled]="!filaSeleccionada" (click)="borrarFila()"></button>
              </div>
          </div>


        <!-- Tabla para ver los datos actuales antes de crear uno  -->
  <div class="tablaMostrar">
    <p-table
      class="tabla"
      [value]="usuarioExistente!"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10,20,40]"
      styleClass="p-datatable-striped"
      [scrollable]="true"
      scrollHeight="500px"
      [selectionMode]="'single'"
      (onRowSelect)="seleccionarFila($event)"
      (onRowUnselect)="desSeleccionarFila($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class=""><div class="columna">Nombre Completo</div></th>
          <th class=""><div class="columna">Rol</div></th>
          <th class=""><div class="columna">Departamento</div></th>
          <th class=""><div class="columna">Correo Electrónico</div></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario>
        <tr [pSelectableRow]="usuario" [class.selected-row]="filaSeleccionada === usuario">
          <td class="">
            <div class="valor">{{getNombreDesdeId(listaUsuariosSir,usuario.idUsuarioSir,'id_usuario','nombre_completo')}}</div>
          </td>

          <td class="">
            <div class="valor">{{getNombreDesdeId(roles,usuario.idRol,'idRol','nombre')}}</div>
          </td>
          <td class="">
            <div class="valor">{{getNombreDesdeId(departamentos,usuario.idDepartamento,'idDepartamento','nombre')}}</div>
          </td>
          <td class="">
            <div class="valor">{{usuario.correoElectronico}}</div>
          </td>
          <td class="">
            <!-- <button pButton type="button" label="" icon="pi pi-trash" class="btn_borrar" (click)="borrarFila(unidad.idUnidad)"></button> -->
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </div>
  </div>
  <!-- Cierra tabla -->

  <div class="popUpCrear" *ngIf="mostrarPopUp">


    <div class="botones_cerrar_popUp">
      <button
        pButton
        type="button"
        label=""
        icon="pi pi-times"
        class="btn_cerrarPopUp"
        (click)="cerrarPopUpUsuario()"
      ></button>
    </div>


    <div class="titulo tituloPopUp">
      <h1 *ngIf="!estaEditando">CREAR USUARIO</h1>
      <h1 *ngIf="estaEditando">ACTUALIZAR USUARIO</h1>
    </div>
      
    
    <button pButton type="button" label="Seleccionar Usuario" icon="pi pi-search" class="btn_crear" (click)="mostrarPopUpUsuarios = true"></button>   
    
    <div class="contenedor-campos">
      <label>Nombre del Usuario</label>
      <input 
      type="text" 
      [(ngModel)]="nombreCompleto" 
      name="nombre"
      [disabled]="true"
      required> 
    </div>
    <div class="contenedor-campos">
      <label>Correo Eléctronico</label>
      <input 
          type="text" 
          [(ngModel)]="correoElectronico" 
          name="correo"
          required> 
    </div>

    <div class="contenedor-campos divSelect">
        <label>Rol del Usuario</label>
        <select 
            class="select"
            id="unidades" 
            [(ngModel)]="idRol" 
            name="empresa"
            required>
            <option *ngFor="let rol of roles" [value]="rol.idRol">
            {{rol.nombre}}
            </option>
        </select>

      </div>
    <div class="contenedor-campos divSelect">
        <label>Departamento del Usuario</label>
        <select 
            class="select"
            id="departamento" 
            [(ngModel)]="idDepartamento" 
            name="empresa"
            required>
            <option *ngFor="let departamento of departamentos" [value]="departamento.idDepartamento">
            {{departamento.nombre}}
            </option>
        </select>

      </div>

      <button pButton type="button" label="Crear" icon="pi pi-plus" class="btn_crear" (click)="crearUsuario()" *ngIf="!estaEditando"></button>   
      <button pButton type="button" label="Guardar" icon="pi pi-save" class="btn_crear" (click)="crearUsuario()" *ngIf="estaEditando"></button>   

</div>






      <!-- PopUp ver Usuarios -->
      <div class="popUpVer" *ngIf="mostrarPopUpUsuarios">
        <div class="botones_cerrar_popUp">
            <button pButton type="button" label="" icon="pi pi-times" class="btn_cerrar" (click)="mostrarPopUpUsuarios=false"></button>   
        </div>
        <!-- <div class="contenedor__InputFiltros">
      
          <input type="text">
          <input type="text">
          <input type="text">
          <input type="text">
          <input type="text">
        </div> -->
          <p-table class="tabla"
            [value]="listaUsuariosSir!"
            styleClass="p-datatable-striped"
            [scrollable]="true"
            scrollHeight="500px"
            >
            <ng-template pTemplate="header">
                <tr>             
                    <th class="">
                      <div class="columna">
                        Nombre Completo                            
                    </div>
                  </th>
                    <th class="">
                      <div class="columna">
                      Nombre de Usuario
                    </div>
                  </th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario *ngIf="usuarioExistente">
                <tr> 
                    <td class=""><div class="valor">{{usuario.nombre_completo}}</div></td>
                    <td class=""><div class="valor">{{usuario.nombre_usuario}}</div></td>
                    <td class="">
                        <button pButton type="button" label="" icon="pi pi-send"  (click)="seleccionarUsuario(usuario.id_usuario,usuario.nombre_completo)"></button>
                    </td>                   
                </tr>
              </ng-template>
            </p-table>
          </div>


