
<div class="incident-container">

  <!-- Filtro por fecha y botón de carga -->
  <div class="encabezado-de-seccion">
    <p-calendar [(ngModel)]="fechaInicio" placeholder="Seleccione una fecha" dateFormat="dd/mm/yy"></p-calendar>
    <button pButton label="Cargar Incidentes" icon="pi pi-refresh" class="p-button-success" (click)="GenerarListaDeIncidentes()"></button>
  </div>
  

  <!-- Accordion para mostrar los incidentes agrupados por empleado -->
  <p-accordion>
    <p-accordionTab *ngFor="let grupo of incidentesPorPuesto" header="{{ grupo.codigoDeEmpleado }} - {{ grupo.incidentes[0]?.nombreDeEmpleado }} ({{ grupo.cantidad }} incidente{{ grupo.cantidad > 1 ? 's' : '' }})">
      
      <div class="informacion-de-empleado">
        <p><strong>Código de Empleado:</strong> {{ grupo.codigoDeEmpleado }}</p>
        <p><strong>Empleado:</strong> {{ grupo.incidentes[0]?.nombreDeEmpleado }}</p>
        <p><strong>Número de Incidentes:</strong> {{ grupo.cantidad }}</p>
      </div>

      <!-- Tabla de incidentes dentro del panel -->
      <p-table [value]="grupo.incidentes" responsiveLayout="scroll" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>Código QR</th>
            <th>Puesto de Trabajo</th>
            <th>Empleado</th>
            <th>Producto</th>
            <th>Acciones</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-incidente>
          <tr>
            <td>{{ incidente.codigoQr }}</td>
            <td>{{ incidente.puestoDeTrabajo }}</td>
            <td>{{ incidente.nombreDeEmpleado }}</td>
            <td>{{ incidente.producto }}</td>
            <td>
              <button pButton icon="pi pi-eye" label="Ver detalles" (click)="VerIncidenteDetalle(incidente)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>
  </p-accordion>

  <!-- Modal de Detalle del Incidente -->
  <p-dialog [(visible)]="modalVisible" [modal]="true" [responsive]="true" [closable]="true" [style]="{ width: '70%', height: '80%' }">

    <p-header>Detalles del Incidente</p-header>

    <div *ngIf="incidenteSeleccionado">
      <p-card class="incidente-card">
        <div class="incidente-details">
          <p><strong>Codigo QR:</strong> {{ incidenteSeleccionado.codigoQr }}</p>
          <p><strong>Puesto de Trabajo:</strong> {{ incidenteSeleccionado.puestoDeTrabajo }}</p>
          <p><strong>Empleado:</strong> {{ incidenteSeleccionado.nombreDeEmpleado }} (Código: {{ incidenteSeleccionado.codigoDeEmpleado }})</p>
          <p><strong>Producto:</strong> {{ incidenteSeleccionado.producto }}</p>
          <p><strong>Tipo de Incidente:</strong> {{ incidenteSeleccionado.tipoDeIncidente }}</p>
          <p><strong>Hora:</strong> {{ incidenteSeleccionado.hora }}</p>
        </div>
    
        <div *ngIf="incidenteSeleccionado.imagenDeIncidente">
          <img [src]="'data:image/png;base64,' + incidenteSeleccionado.imagenDeIncidente" alt="Imagen del incidente" class="tamanio-de-imagen" (click)="VerImagen(incidenteSeleccionado.imagenDeIncidente)" />
        </div>
      </p-card>
    </div>
    

    <div *ngIf="!incidenteSeleccionado">
      <p>No se ha seleccionado ningún incidente.</p>
    </div>
  </p-dialog>

  <!-- Modal para ver la imagen ampliada -->
  <p-dialog [(visible)]="imagenVisibleDialog" [modal]="true" [responsive]="true" [closable]="true" [style]="{ width: '50%' }">
    <p-header>Imagen Ampliada</p-header>
    <div class="modal-content">
      <img [src]="'data:image/png;base64,' + imagenAmpliada" alt="Imagen Ampliada" class="modal-img" />
    </div>
  </p-dialog>
</div>

