/* Contenedor principal con tamaño A3 centrado */
.incident-container {
  width: 1190px; /* Aproximadamente A3 en px */
  height: 842px; /* Aproximadamente A3 en px */
  margin: 0 auto; /* Centrado horizontal */
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
  
.encabezado-de-seccion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  gap: 2rem;
}

.filter-controls p-calendar {
  margin-right: 10px;
  width: 200px;
}
  
.filter-controls button {
  margin-left: 10px;
}
  
/* Ajustar tamaño de los paneles de expansión dentro del accordion */
p-accordion .p-accordion-tab {
  margin-bottom: 10px;
}
  
/* Estilo adicional para la sección de empleado */
.informacion-de-empleado p {
  font-size: 14px;
  margin: 5px 0;
}

.tamanio-de-imagen {
  width: 350px; 
  height: auto; 
  display: block;
  margin: 0 auto;  
}
  