.tamanos,
.tipos{
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    flex-wrap: wrap;
    
}
.titulo{
    display: flex;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.botones{
    margin-top: 2rem;
    background-color: #00cc66;
    font-size: 2rem;
   /* padding: 1rem; /* Espaciado interno del botón */
   
}
.confirmar{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}
.botonConfirmar{
    font-size: 2.4rem;
}

.activo{
    background-color: #ff6347
}


.botones_popup {
    display: flex;
    justify-content: end;
    margin-bottom: 0rem;
  }


.btnCancelar{
  background-color: red;
  font-size: 2rem;
}