

<div class="botones_popup">
    <button type="button" class="btnCancelar" (click)="cerrarPopUp()">X</button>
</div>

<div class="tamano" *ngIf="tamanoTipo=='Tamano' ">

    <div class="titulo">
        Seleccione el Tamaño para la Caja
    </div>
    
    <div class="tamanos" *ngFor="let tamano of tamanos_cajas">
        <button type="button" class="botones" [ngClass]="{ 'activo': tamanoActivo==tamano.nombre}" (click)="activarBotonTamano(tamano.nombre)" >{{tamano.nombre}}</button>
    
    
    </div> 


</div>

<div class="Tipo" *ngIf="tamanoTipo == 'Tipo'" >
    
        <div class="titulo">
            Seleccione el Tipo para la Caja
        </div>

        <div class="tipos" *ngFor="let tipo of tipos">
            <button type="button" class="botones" [ngClass]="{ 'activo': tipoActivo==tipo.nombre}" (click)="activarBotonTipo(tipo.nombre)">{{tipo.nombre}}</button>
        </div>


</div>

