<div>
    <div class="flex flex-row text-center mb-2 linea__title">Línea {{linea}}</div>
    
    <div class="hueseros mb-3" *ngIf="this.hueseros.length > 0">
        <p class="hueseros__title mb-0 text-center">HUESEROS ({{hueseros.length}})</p>
        <rrhh-func-viewer
            [fecha]="this.fecha"
            timeType="ahora"
            [funcionarios]="this.hueseros" />
    </div>

    <div class="hueseros mb-3" *ngIf="this.hueserosHistorico.length > 0">
        <p class="hueseros__title mb-0 text-center">HUESEROS ({{hueserosHistorico.length}})</p>
        <rrhh-func-viewer
            [fecha]="this.fecha"
            timeType="history" 
            [funcionariosHistorico]="this.hueserosHistorico"/>
    </div>

    <div class="charqueadores" *ngIf="this.charqueadores.length > 0">
        <p class="charqueadores__title mb-0 text-center">CHARQUEADORES ({{charqueadores.length}})</p>
        <rrhh-func-viewer
            [fecha]="this.fecha"
            timeType="ahora"
            [funcionarios]="this.charqueadores" />
    </div>

    <div class="charqueadores" *ngIf="this.charqueadoresHistorico.length > 0">
        <p class="charqueadores__title mb-0 text-center">CHARQUEADORES ({{charqueadoresHistorico.length}})</p>
        <rrhh-func-viewer
            [fecha]="this.fecha"
            timeType="history"
            [funcionariosHistorico]="this.charqueadoresHistorico" />
    </div>
</div>