.charqueadores__title,
.hueseros__title {
    font-size: 1rem;
    font-weight: 500;;
}

.charqueadores,
.hueseros {
    margin-left: 15px;
    margin-right: 15px;
}

.linea__title {
    font-size: 1.2rem;
    font-weight: 300;
}
