<h1>Ficha Técnica Sección Tipo de Envase</h1>
<button (click)="CrearElemento()" pButton label="Crear Tipo de Envase"></button>

<div class="flex-container">
    <p-table    
        [value]="responseTiposDeEnvaseDTO"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 15, 20]"
        [scrollable]="true">

        <ng-template pTemplate="header">
            <tr>
                <th style="width:20%">ID Tipo</th>
                <th style="width:20%">Nombre</th>
                <th style="width:20%">Descripción</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-element>
            <tr>
                <td>{{element.idTipoDeEnvase}}</td>
                <td>
                    <input *ngIf="tipoDeEnvaseSeleccionado?.idTipoDeEnvase === element.idTipoDeEnvase" [(ngModel)]="tipoDeEnvaseSeleccionado!.nombre" />
                    <span *ngIf="tipoDeEnvaseSeleccionado?.idTipoDeEnvase !== element.idTipoDeEnvase">{{element.nombre}}</span>
                </td>
                <td>
                    <input *ngIf="tipoDeEnvaseSeleccionado?.idTipoDeEnvase === element.idTipoDeEnvase" [(ngModel)]="tipoDeEnvaseSeleccionado!.descripcion" />
                    <span *ngIf="tipoDeEnvaseSeleccionado?.idTipoDeEnvase !== element.idTipoDeEnvase">{{element.descripcion}}</span>
                </td>
                <td>
                    <button pButton icon="pi pi-pencil" (click)="EditarElemento(element)" *ngIf="tipoDeEnvaseSeleccionado?.idTipoDeEnvase !== element.idTipoDeEnvase"></button>
                    <button pButton icon="pi pi-check" (click)="GuardarCambios()" *ngIf="tipoDeEnvaseSeleccionado?.idTipoDeEnvase === element.idTipoDeEnvase"></button>
                    <button pButton icon="pi pi-trash" (click)="EliminarElemento(element)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

