<body>
    <div  class="contenedor-general">
        <p-tabView>
            <p-tabPanel header="FT Crear Ficha Tecnica">
                <component-crear-ficha-tecnica></component-crear-ficha-tecnica>
            </p-tabPanel>

            <p-tabPanel header="FT Crear Plantilla">
                <component-crear-plantilla-ficha-tecnica></component-crear-plantilla-ficha-tecnica>
            </p-tabPanel>

            <p-tabPanel header="FT Crear Producto">
                <component-crear-producto-ficha-tecnica></component-crear-producto-ficha-tecnica>
            </p-tabPanel>            
        </p-tabView>
    </div>
</body>
