
<body>
        <div class="contenedor-general">
                <!-- Barra de opciones superior con botones a la izquierda -->
                <div class="barra-opciones">
                        <button pButton 
                                label="Lista de Fichas Tecnicas" 
                                icon="pi pi-bars" 
                                class="p-button-violet p-button-rounded"
                                routerLink="./listaDeFichasTecnicas">
                        </button>
                
                        <button pButton 
                                label="Crear Ficha Técnica" 
                                icon="pi pi-align-justify" 
                                class="p-button-violet p-button-rounded"
                                routerLink="./crearFichaTecnica">
                        </button>

                        <button pButton 
                                label="Lista de Plantilas" 
                                icon="pi pi-file" 
                                class="p-button-info p-button-rounded"
                                routerLink="./listaDePlantillas">
                        </button>
                
                        <button pButton 
                                label="Crear Plantilla" 
                                icon="pi pi-file" 
                                class="p-button-info p-button-rounded"
                                routerLink="./crearPlantillaFichaTecnica">
                        </button>

                
                        <button pButton 
                                label="Crear Producto" 
                                icon="pi pi-bookmark" 
                                class="p-button-warning p-button-rounded"
                                routerLink="./crearProductoFichaTecnica">
                        </button>

                        
                </div>
      
          <!-- Contenido de la página a la derecha de la barra de botones -->
          <div class="contenido-pagina">
            <router-outlet></router-outlet>
          </div>
        </div>
      </body>
      