
<p-tabView>
    <p-tabPanel header="Dispositivos">
        <h1 class="tituloDispositivo" style="margin:20px 0px 0px 40px"> Dispositivos</h1>
            <mat-card style="margin:20px 40px 40px 40px">
                <mat-card-title style="margin:20px">
                    <button mat-raised-button color="primary" (click)="nuevoDispositivo()">
                        <mat-icon mat-list-icon>add</mat-icon>Nuevo Dispositivo
                    </button>
                </mat-card-title>

                <mat-divider></mat-divider>
                
                <p-table
                    [value]="dataListaDispositivos"
                    [paginator]="true"
                    [rows]="10"
                    [rowsPerPageOptions]="[5, 10, 20, 25]"
                    [globalFilterFields]="['nombre']"
                    [scrollable]="true"
                    scrollHeight="650px"
                    dataKey="idDispositivo">
                
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:20%">
                                Nombre
                                <p-sortIcon field="nombre"></p-sortIcon>
                                <p-columnFilter
                                    type="text"
                                    field="nombre"
                                    placeholder="Buscar por nombre"
                                    display="menu">
                                </p-columnFilter>
                            </th>
                            <th style="width:20%">IP</th>
                            <th style="width:20%">Puerto</th>
                            <th style="width:20%">Descripción</th>
                            <th style="width:10%">Estado</th>
                            <th style="width:20%">Tipo</th>
                            <th style="width:20%">Ubicación</th>
                            <th style="width:20%">Formato</th>
                            <th style="width:10%">Acciones</th>
                        </tr>
                    </ng-template>
                
                    <ng-template pTemplate="body" let-element>
                        <tr>
                            <td>{{element.nombre}}</td>
                            <td>{{element.ip}}</td>
                            <td>{{element.puerto}}</td>
                            <td>{{element.descripcion}}</td>
                            <td>{{element.activo == 1 ? 'Activo' : 'Inactivo'}}</td>
                            <td>{{element.idTipoNavigation?.nombre || 'Desconocido'}}</td>
                            <td>{{element.idUbicacionNavigation?.descripcion || 'Desconocido'}}</td>
                            <td>{{element.idFormato}}</td>
                            <td class="Botones_Tabla_Dispositivo">
                                    <button pButton icon="pi pi-pencil" (click)="editarDispositivo(element)"></button>
                                    <button pButton icon="pi pi-trash" (click)="eliminarDispositivo(element)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
        </mat-card> 
    </p-tabPanel>

    <p-tabPanel header="Formato de Dispositivos">

        <h1 class="tituloDispositivo" style="margin:20px 0px 0px 40px"> Formatos</h1>
            <mat-card style="margin:20px 40px 40px 40px">
            <mat-card-title style="margin:20px">
                <button mat-raised-button color="primary" (click)="nuevFormatoDisp()">
                    <mat-icon mat-list-icon>add</mat-icon>Nuevo Formato
                </button>
            </mat-card-title>
        
            <mat-divider></mat-divider>    
        
                <div class="mat-elevation-z2">
                    <p-table
                        [value]="dataListaformatos"
                        [paginator]="true"
                        [rows]="10"
                        [rowsPerPageOptions]="[5, 10, 20, 25]"
                        [globalFilterFields]="['idFormato', 'substringDesde', 'substringHasta', 'errorLectura']"
                        [scrollable]="true"
                        scrollHeight="650px"
                        dataKey="idFormato">
        
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:20%">
                                    Id Formato
                                    <p-sortIcon field="idFormato"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="idFormato"
                                        placeholder="Buscar por id Formato"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:20%">
                                    Substring Desde
                                    <p-sortIcon field="substringDesde"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="substringDesde"
                                        placeholder="Buscar por Substring Desde"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:20%">
                                    Substring Hasta
                                    <p-sortIcon field="substringHasta"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="substringHasta"
                                        placeholder="Buscar por Substring Hasta"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:20%">
                                    Error Lectura
                                    <p-sortIcon field="errorLectura"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="errorLectura"
                                        placeholder="Buscar por Error Lectura"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:10%">
                                    Acciones
                                </th>
                            </tr>
                        </ng-template>
        
                        <ng-template pTemplate="body" let-element>
                            <tr>
                                <td>{{element.idFormato}}</td>
                                <td>{{element.substringDesde}}</td>
                                <td>{{element.substringHasta}}</td>
                                <td>{{element.errorLectura}}</td>
                                <td class="Botones_Tabla">
                                    <button pButton icon="pi pi-pencil" (click)="editarFormato(element)"></button>
                                    <button pButton icon="pi pi-trash" (click)="eliminarFormato(element)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
        </mat-card>                   

    </p-tabPanel>

    <p-tabPanel header="Tipos de Dispositivos">
        
        <h1 class="tituloDispositivo" style="margin:20px 0px 0px 40px"> Tipos De Dispositivos</h1>
        <mat-card style="margin:20px 40px 40px 40px">

            <mat-card-title style="margin:20px">
                <button mat-raised-button color="primary" (click)="nuevTipoDisp()">
                    <mat-icon mat-list-icon>add</mat-icon>Nuevo Tipo De Dispositivo
                </button>
            </mat-card-title>
        
            <mat-divider></mat-divider>    
        
                <div class="mat-elevation-z2">
                    <p-table
                        [value]="dataListaTipos"
                        [paginator]="true"
                        [rows]="10"
                        [rowsPerPageOptions]="[5, 10, 20, 25]"
                        [globalFilterFields]="['nombre', 'comandoInicio', 'comandoFin']"
                        [scrollable]="true"
                        scrollHeight="650px"
                        dataKey="idTipo">
        
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:30%">
                                    Nombre
                                    <p-sortIcon field="nombre"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="nombre"
                                        placeholder="Buscar por Nombre"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:30%">
                                    Comando de Inicio
                                    <p-sortIcon field="comandoInicio"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="comandoInicio"
                                        placeholder="Buscar por Comando de Inicio"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:30%">
                                    Comando de Fin
                                    <p-sortIcon field="comandoFin"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="comandoFin"
                                        placeholder="Buscar por Comando de Fin"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:10%">
                                    Acciones
                                </th>
                            </tr>
                        </ng-template>
        
                        <ng-template pTemplate="body" let-element>
                            <tr>
                                <td>{{element.nombre}}</td>
                                <td>{{element.comandoInicio}}</td>
                                <td>{{element.comandoFin}}</td>
                                <td class="Botones_Tabla">
                                    <button pButton icon="pi pi-pencil" (click)="editarTipoDispositivo(element)"></button>
                                    <button pButton icon="pi pi-trash" (click)="eliminarTipoDispositivo(element)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
        </mat-card>        
           
    </p-tabPanel>

    <p-tabPanel header="Ubicacion de Dispositivo">

        <h1 class="tituloDispositivo" style="margin:20px 0px 0px 40px"> Ubicaciones</h1>
        <mat-card style="margin:20px 40px 40px 40px">
            <mat-card-title style="margin:20px">
                <button mat-raised-button color="primary" (click)="nuevaUbicacionDisp()">
                    <mat-icon mat-list-icon>add</mat-icon>Nueva Ubicacion
                </button>
            </mat-card-title>
        
            <mat-divider></mat-divider>
        
                <div class="mat-elevation-z2">
                    <p-table 
                        [value]="dataListaUbicaciones"
                        [paginator]="true"
                        [rows]="10"
                        [rowsPerPageOptions]="[5, 10, 20, 25]"
                        [globalFilterFields]="['nombre', 'descripcion']"
                        [scrollable]="true"
                        scrollHeight="650px"
                        dataKey="idUbicacion">
        
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:30%">
                                    Nombre
                                    <p-sortIcon field="nombre"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="nombre"
                                        placeholder="Buscar por Nombre"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:40%">
                                    Descripción
                                    <p-sortIcon field="descripcion"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="descripcion"
                                        placeholder="Buscar por Descripción"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:20%">
                                    Estado
                                    <p-sortIcon field="activo"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="activo"
                                        placeholder="Buscar por Estado"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:10%">
                                    Acciones
                                </th>
                            </tr>
                        </ng-template>
        
                        <ng-template pTemplate="body" let-element>
                            <tr>
                                <td>{{element.nombre}}</td>
                                <td>{{element.descripcion}}</td>
                                <td>{{element.activo == 1 ? 'Activo' : 'Inactivo'}}</td>
                                <td class="Botones_Tabla">
                                    <button pButton icon="pi pi-pencil" (click)="editarUbicaciones(element)"></button>
                                    <button pButton icon="pi pi-trash" (click)="eliminarUbicacion(element)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
        </mat-card>        
            
    </p-tabPanel>
</p-tabView>

