
<p-tabView>
    <p-tabPanel header="Dispositivos">
        <h1 class="tituloDispositivo" style="margin:20px 0px 0px 40px"> Dispositivos</h1>
            <mat-card style="margin:20px 40px 40px 40px">
                <mat-card-title style="margin:20px">
                    <button mat-raised-button color="primary" (click)="nuevoDispositivo()">
                        <mat-icon mat-list-icon>add</mat-icon>Nuevo Dispositivo
                    </button>
                </mat-card-title>

                <mat-divider></mat-divider>
                
                <p-table
                    [value]="dataListaDispositivos"
                    [paginator]="true"
                    [rows]="10"
                    [rowsPerPageOptions]="[5, 10, 20, 25]"
                    [globalFilterFields]="['nombre']"
                    [scrollable]="true"
                    scrollHeight="650px"
                    dataKey="idDispositivo">
                
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:20%">
                                Nombre
                                <p-sortIcon field="nombre"></p-sortIcon>
                                <p-columnFilter
                                    type="text"
                                    field="nombre"
                                    placeholder="Buscar por nombre"
                                    display="menu">
                                </p-columnFilter>
                            </th>
                            <th style="width:20%">IP</th>
                            <th style="width:20%">Puerto</th>
                            <th style="width:20%">Descripción</th>
                            <th style="width:10%">Estado</th>
                            <th style="width:20%">Tipo</th>
                            <th style="width:20%">Ubicación</th>
                            <th style="width:20%">Formato</th>
                            <th style="width:10%">Acciones</th>
                        </tr>
                    </ng-template>
                
                    <ng-template pTemplate="body" let-element>
                        <tr>
                            <td>{{element.nombre}}</td>
                            <td>{{element.ip}}</td>
                            <td>{{element.puerto}}</td>
                            <td>{{element.descripcion}}</td>
                            <td>{{element.activo == 1 ? 'Activo' : 'Inactivo'}}</td>
                            <td>{{element.idTipoNavigation?.nombre || 'Desconocido'}}</td>
                            <td>{{element.idUbicacionNavigation?.descripcion || 'Desconocido'}}</td>
                            <td>{{element.idFormato}}</td>
                            <td class="Botones_Tabla_Dispositivo">
                                    <button pButton icon="pi pi-pencil" (click)="editarDispositivo(element)"></button>
                                    <button pButton icon="pi pi-trash" (click)="eliminarDispositivo(element)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
        </mat-card> 

            <!-- <mat-card style="margin:20px 40px 40px 40px" >

                <mat-card-title style="margin:20px">
                    <button mat-raised-button color="primary" (click)="nuevoDispositivo()">
                        <mat-icon mat-list-icon>add</mat-icon>Nuevo Dispositivo
                    </button>
                </mat-card-title>

                <mat-divider></mat-divider>

                <mat-card-content class="dashboard-card-content">

                    <mat-form-field >
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="aplicarFiltroTabla($event)" #input>
                    </mat-form-field>

                    <div class="mat-elevation-z2">

                        <table mat-table [dataSource]="dataListaDispositivos">

                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ip">
                                <th mat-header-cell *matHeaderCellDef> IP</th>
                                <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
                            </ng-container>

                            <ng-container matColumnDef="puerto">
                                <th mat-header-cell *matHeaderCellDef> Puerto</th>
                                <td mat-cell *matCellDef="let element"> {{element.puerto}} </td>
                            </ng-container>


                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef> Descripcion</th>
                                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado</th>
                                <td mat-cell *matCellDef="let element"> {{element.activo == 1 ? 'Activo' : 'No activo'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef> Tipo</th>
                            <td mat-cell *matCellDef="let element"> {{element.idTipoNavigation.nombre}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ubicacion">
                            <th mat-header-cell *matHeaderCellDef> Ubicacion</th>
                            <td mat-cell *matCellDef="let element"> {{element.idUbicacionNavigation?.descripcion || "Desconocido"}} </td>
                            </ng-container>

                            <ng-container matColumnDef="formato">
                            <th mat-header-cell *matHeaderCellDef> Formato</th>
                            <td mat-cell *matCellDef="let element"> {{element.idFormato}} </td>
                            </ng-container>
                            

                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef ></th>
                                <td mat-cell *matCellDef="let element">                        
                                    <button mat-icon-button color="primary" (click)="editarDispositivo(element)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="eliminarDispositivo(element)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnasTablaDispositivos"></tr>
                            <tr mat-row *matRowDef="let row; columns : columnasTablaDispositivos;"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
                            </tr>

                        </table>

                        <mat-paginator #paginacionTablaDispositivos [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card> -->
    </p-tabPanel>

    <p-tabPanel header="Formato de Dispositivos">

        <h1 class="tituloDispositivo" style="margin:20px 0px 0px 40px"> Formatos</h1>
            <mat-card style="margin:20px 40px 40px 40px">
            <mat-card-title style="margin:20px">
                <button mat-raised-button color="primary" (click)="nuevFormatoDisp()">
                    <mat-icon mat-list-icon>add</mat-icon>Nuevo Formato
                </button>
            </mat-card-title>
        
            <mat-divider></mat-divider>    
        
                <div class="mat-elevation-z2">
                    <p-table
                        [value]="dataListaformatos"
                        [paginator]="true"
                        [rows]="10"
                        [rowsPerPageOptions]="[5, 10, 20, 25]"
                        [globalFilterFields]="['idFormato', 'substringDesde', 'substringHasta', 'errorLectura']"
                        [scrollable]="true"
                        scrollHeight="650px"
                        dataKey="idFormato">
        
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:20%">
                                    Id Formato
                                    <p-sortIcon field="idFormato"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="idFormato"
                                        placeholder="Buscar por id Formato"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:20%">
                                    Substring Desde
                                    <p-sortIcon field="substringDesde"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="substringDesde"
                                        placeholder="Buscar por Substring Desde"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:20%">
                                    Substring Hasta
                                    <p-sortIcon field="substringHasta"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="substringHasta"
                                        placeholder="Buscar por Substring Hasta"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:20%">
                                    Error Lectura
                                    <p-sortIcon field="errorLectura"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="errorLectura"
                                        placeholder="Buscar por Error Lectura"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:10%">
                                    Acciones
                                </th>
                            </tr>
                        </ng-template>
        
                        <ng-template pTemplate="body" let-element>
                            <tr>
                                <td>{{element.idFormato}}</td>
                                <td>{{element.substringDesde}}</td>
                                <td>{{element.substringHasta}}</td>
                                <td>{{element.errorLectura}}</td>
                                <td class="Botones_Tabla">
                                    <button pButton icon="pi pi-pencil" (click)="editarFormato(element)"></button>
                                    <button pButton icon="pi pi-trash" (click)="eliminarFormato(element)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
        </mat-card>        

            <!-- <mat-card style="margin:20px 40px 40px 40px" >

                <mat-card-title style="margin:20px">
                    <button mat-raised-button color="primary" (click)="nuevFormatoDisp()">
                        <mat-icon mat-list-icon>add</mat-icon>Nuevo Formato
                    </button>
                </mat-card-title>

                <mat-divider></mat-divider>

                <mat-card-content class="dashboard-card-content">

                    <mat-form-field >
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="aplicarFiltroTabla($event)" #input>
                    </mat-form-field>

                    <div class="mat-elevation-z2">

                        <table mat-table [dataSource]="dataListaformatos">

                            <ng-container matColumnDef="idFormato">
                                <th mat-header-cell *matHeaderCellDef> Id Formato</th>
                                <td mat-cell *matCellDef="let element"> {{element.idFormato}} </td>
                            </ng-container>

                            <ng-container matColumnDef="substring_desde">
                                <th mat-header-cell *matHeaderCellDef> Substring Desde</th>
                                <td mat-cell *matCellDef="let element"> {{element.substringDesde}} </td>
                            </ng-container>

                            <ng-container matColumnDef="substring_hasta">
                                <th mat-header-cell *matHeaderCellDef> Substring Hasta</th>
                                <td mat-cell *matCellDef="let element"> {{element.substringHasta}} </td>
                            </ng-container>

                            <ng-container matColumnDef="error_lectura">
                                <th mat-header-cell *matHeaderCellDef> Error Lectura</th>
                                <td mat-cell *matCellDef="let element"> {{element.errorLectura}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef ></th>
                                <td mat-cell *matCellDef="let element">                        
                                    <button mat-icon-button color="primary" (click)="editarFormato(element)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="eliminarFormato(element)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnaTablaFormatos"></tr>
                            <tr mat-row *matRowDef="let row; columns : columnaTablaFormatos;"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
                            </tr>

                        </table>

                        <mat-paginator #paginacionTablaformatos [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card> -->

    </p-tabPanel>

    <p-tabPanel header="Tipos de Dispositivos">
        
        <h1 class="tituloDispositivo" style="margin:20px 0px 0px 40px"> Tipos De Dispositivos</h1>
        <mat-card style="margin:20px 40px 40px 40px">

            <mat-card-title style="margin:20px">
                <button mat-raised-button color="primary" (click)="nuevTipoDisp()">
                    <mat-icon mat-list-icon>add</mat-icon>Nuevo Tipo De Dispositivo
                </button>
            </mat-card-title>
        
            <mat-divider></mat-divider>    
        
                <div class="mat-elevation-z2">
                    <p-table
                        [value]="dataListaTipos"
                        [paginator]="true"
                        [rows]="10"
                        [rowsPerPageOptions]="[5, 10, 20, 25]"
                        [globalFilterFields]="['nombre', 'comandoInicio', 'comandoFin']"
                        [scrollable]="true"
                        scrollHeight="650px"
                        dataKey="idTipo">
        
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:30%">
                                    Nombre
                                    <p-sortIcon field="nombre"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="nombre"
                                        placeholder="Buscar por Nombre"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:30%">
                                    Comando de Inicio
                                    <p-sortIcon field="comandoInicio"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="comandoInicio"
                                        placeholder="Buscar por Comando de Inicio"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:30%">
                                    Comando de Fin
                                    <p-sortIcon field="comandoFin"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="comandoFin"
                                        placeholder="Buscar por Comando de Fin"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:10%">
                                    Acciones
                                </th>
                            </tr>
                        </ng-template>
        
                        <ng-template pTemplate="body" let-element>
                            <tr>
                                <td>{{element.nombre}}</td>
                                <td>{{element.comandoInicio}}</td>
                                <td>{{element.comandoFin}}</td>
                                <td class="Botones_Tabla">
                                    <button pButton icon="pi pi-pencil" (click)="editarTipoDispositivo(element)"></button>
                                    <button pButton icon="pi pi-trash" (click)="eliminarTipoDispositivo(element)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
        </mat-card>        
            <!-- <mat-card style="margin:20px 40px 40px 40px" >

                <mat-card-title style="margin:20px">
                    <button mat-raised-button color="primary" (click)="nuevTipoDisp()">
                        <mat-icon mat-list-icon>add</mat-icon>Nuevo Tipo De Dispositivo
                    </button>
                </mat-card-title>
            
                <mat-divider></mat-divider>
            
                <mat-card-content class="dashboard-card-content">
            
                    <mat-form-field >
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="aplicarFiltroTabla($event)" #input>
                    </mat-form-field>
            
                    <div class="mat-elevation-z2">
            
                        <table mat-table [dataSource]="dataListaTipos">
            
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="comandoInicio">
                                <th mat-header-cell *matHeaderCellDef> Comando de Inicio</th>
                                <td mat-cell *matCellDef="let element"> {{element.comandoInicio}} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="comandoFin">
                                <th mat-header-cell *matHeaderCellDef> Comando de Fin</th>
                                <td mat-cell *matCellDef="let element"> {{element.comandoFin}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef ></th>
                                <td mat-cell *matCellDef="let element">                        
                                    <button mat-icon-button color="primary" (click)="editarTipoDispositivo(element)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="eliminarTipoDispositivo(element)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="columnasTablaTipos"></tr>
                            <tr mat-row *matRowDef="let row; columns : columnasTablaTipos;"></tr>
            
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
                            </tr>
            
                        </table>
            
                        <mat-paginator #paginacionTablaTiposDeDispositivos [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>       -->
    </p-tabPanel>

    <p-tabPanel header="Ubicacion de Dispositivo">

        <h1 class="tituloDispositivo" style="margin:20px 0px 0px 40px"> Ubicaciones</h1>
        <mat-card style="margin:20px 40px 40px 40px">
            <mat-card-title style="margin:20px">
                <button mat-raised-button color="primary" (click)="nuevaUbicacionDisp()">
                    <mat-icon mat-list-icon>add</mat-icon>Nueva Ubicacion
                </button>
            </mat-card-title>
        
            <mat-divider></mat-divider>
        
                <div class="mat-elevation-z2">
                    <p-table 
                        [value]="dataListaUbicaciones"
                        [paginator]="true"
                        [rows]="10"
                        [rowsPerPageOptions]="[5, 10, 20, 25]"
                        [globalFilterFields]="['nombre', 'descripcion']"
                        [scrollable]="true"
                        scrollHeight="650px"
                        dataKey="idUbicacion">
        
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:30%">
                                    Nombre
                                    <p-sortIcon field="nombre"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="nombre"
                                        placeholder="Buscar por Nombre"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:40%">
                                    Descripción
                                    <p-sortIcon field="descripcion"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="descripcion"
                                        placeholder="Buscar por Descripción"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:20%">
                                    Estado
                                    <p-sortIcon field="activo"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="activo"
                                        placeholder="Buscar por Estado"
                                        display="menu">
                                    </p-columnFilter>
                                </th>
                                <th style="width:10%">
                                    Acciones
                                </th>
                            </tr>
                        </ng-template>
        
                        <ng-template pTemplate="body" let-element>
                            <tr>
                                <td>{{element.nombre}}</td>
                                <td>{{element.descripcion}}</td>
                                <td>{{element.activo == 1 ? 'Activo' : 'Inactivo'}}</td>
                                <td class="Botones_Tabla">
                                    <button pButton icon="pi pi-pencil" (click)="editarUbicaciones(element)"></button>
                                    <button pButton icon="pi pi-trash" (click)="eliminarUbicacion(element)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
        </mat-card>        
            <!-- <mat-card style="margin:20px 40px 40px 40px" >

                <mat-card-title style="margin:20px">
                    <button mat-raised-button color="primary" (click)="nuevaUbicacionDisp()">
                        <mat-icon mat-list-icon>add</mat-icon>Nueva Ubicacion
                    </button>
                </mat-card-title>

                <mat-divider></mat-divider>

                <mat-card-content class="dashboard-card-content">

                    <mat-form-field >
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="aplicarFiltroTabla($event)" #input>
                    </mat-form-field>

                    <div class="mat-elevation-z2">

                        <table mat-table [dataSource]="dataListaUbicaciones">

                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                            </ng-container>

                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef> Descripcion</th>
                                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado</th>
                                <td mat-cell *matCellDef="let element"> {{element.activo == 1 ? 'Activo' : 'No activo'}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef ></th>
                                <td mat-cell *matCellDef="let element">                        
                                    <button mat-icon-button color="primary" (click)="editarUbicaciones(element)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="eliminarUbicacion(element)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnasTablaUbicaciones"></tr>
                            <tr mat-row *matRowDef="let row; columns : columnasTablaUbicaciones;"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
                            </tr>

                        </table>

                        <mat-paginator #paginacionTablaUbicaciones [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card> -->
    </p-tabPanel>
</p-tabView>

