<body>

    <div class="contenido-de-pagina">

        <div class="grid-container-encabezados">
            <div class="grid-encabezado-seccion-1">
                <input [(ngModel)]="codigoProducto" placeholder="Ingrese el código del producto" />
                <p-button (click)="AgregarCodigo()">Agregar Producto</p-button>
            </div>

            <div class="grid-encabezado-seccion-2" *ngIf="listaDeProductosParaCargar.length > 0">
                <p-dropdown 
                    [(ngModel)]="seleccionDeAspectosGenerales" 
                    [options]="listaDeAspectosGeneralesPlantilla" 
                    optionLabel="nombre" 
                    placeholder="Seleccione un aspecto"
                    (onChange)="DisparadorSelectAspectosGenerales($event.value.idPlantilla)">
                </p-dropdown>
            </div>

            <div class="grid-encabezado-seccion-3" *ngIf="seleccionDeAspectosGenerales">
                <p-dropdown 
                    [(ngModel)]="seleccionDeDestino" 
                    [options]="listaDeDestinos" 
                    optionLabel="nombre" 
                    placeholder="Seleccione un Destino">
                </p-dropdown>
            </div>
            
            <div class="grid-encabezado-seccion-4" *ngIf="seleccionDeDestino">
                <p-dropdown 
                    [(ngModel)]="seleccionDeEspecificaciones" 
                    [options]="listaDeEspecificacionesPlantilla" 
                    optionLabel="nombre" 
                    placeholder="Seleccione una especificación"
                    (onChange)="DisparadorSelectEspecificaciones($event.value.idPlantilla)">
                </p-dropdown>
            </div>            
        </div>
    
    <!-- SECCION 1 -->

        <div class="grid-container-seccion-1" >
            <div class="grid-items-seccion caj-1">
                <img src="assets/images/logos/logo_ficha_tecnica_1.png">            
            </div>
            
            <div class="grid-items-seccion caj-2">
                <h1>FRIGORIFICO LAS PIEDRAS S.A.</h1>          
            </div>

            <div class="grid-items-seccion caj-3">
                <label class="boton-de-carga-de-imagen" *ngIf="!urlLogo">
                    <input type="file" (change)="MostrarImagenSeleccionada($event, 1)" accept="image/*">
                    <i class="pi pi-upload"></i>
                </label>
                <div *ngIf="urlLogo">
                    <img class="boton-de-carga-de-imagen" [src]="urlLogo" alt="Imagen" style="max-width: 300px; max-height: 300px;" />
                    <button (click)="BorrarImagen(1)" aria-label="Eliminar imagen" class="boton-borrar">
                        <i class="pi pi-trash"></i> 
                    </button>
                </div>
            </div>
            

            <div class="grid-items-seccion caj-4">
                <p>RUTA 36 km 26.100  - CANELONES - URUGUAY</p>            
            </div>
            
            <div class="grid-items-seccion caj-5">
                <p> Tel: (+598) 2367 7720</p>            
            </div>

            <div class="grid-items-seccion caj-6">
                <p>Website: flp.uy</p>            
            </div>

            <div class="grid-items-seccion caj-7">
                <p>ESTABLECIMIENTO HABILITADO MGAP 379 </p>            
            </div>
        </div>

        <!-- SECCION 2 -->

        <div class="grid-container-seccion-2" *ngIf="listaDeProductosParaCargar.length > 0">
            <div class="grid-items-seccion caj-1-sec-2">
                <h1>FICHA TÉCNICA / DATA SHEET</h1>
            </div>   

            <div class="grid-items-seccion caj-2-sec-2">
                <p>Producto / Product</p>
            </div>  
            <div class="grid-items-seccion cajas-de-datos">
                <input 
                    style="width: 100%;" 
                    type="text" 
                    [(ngModel)]="producto" 
                    [value]="producto" />
            </div>


            <div class="grid-items-seccion caj-3-sec-2">
                <p>Nombre / Name</p>
            </div> 
            <div class="grid-items-seccion cajas-de-datos">
                <p> {{ nombreProducto }}</p>
            </div>  
            
            
            <div class="grid-items-seccion caj-4-sec-2">
                <p>Código /Code</p>
            </div>  
            <div class="grid-items-seccion cajas-de-datos">
                <p>
                    {{ listaDeProductosParaCargar.join(', ') }}
                </p>
            </div>


            <div class="grid-items-seccion caj-5-sec-2">
                <p>Otro /Other</p>
            </div>   
            <div class="grid-items-seccion cajas-de-datos">
                <p> {{ descripcionDelProducto }}</p>
            </div>  
        </div>

        <!-- SECCION 3 -->
        <div *ngIf="seleccionDeAspectosGenerales">
            <div >
                <div class="grid-container-seccion-3" >
                    <div class="grid-items-seccion caj-1-sec-3">
                        <h1>ASPECTOS GENERALES / GENERAL DATA</h1>
                    </div> 

                    <div class="grid-items-seccion caj-2-sec-3">
                        <p>Marca / Brand</p>
                    </div>  

                    <div class="grid-items-seccion caj-8-sec-3">
                        <input 
                            style="width: 100%;"
                            type="text" 
                            [(ngModel)]="marca" 
                            [value]="marca" />
                    </div>  


                    <div class="grid-items-seccion caj-3-sec-3">
                        <p>Destino / Destination</p>
                    </div> 

                    <div class="grid-items-seccion caj-9-sec-3">
                        <p> {{ seleccionDeDestino?.nombre }}</p>
                    </div>  


                    <div class="grid-items-seccion caj-4-sec-3">
                        <p>Uso previsto / Expected use</p>
                    </div> 


                    <div class="grid-items-seccion caj-10-sec-3">
                        <input 
                            style="width: 100%;"
                            type="text" 
                            [(ngModel)]="tipoDeUso" 
                            [value]="tipoDeUso" />
                    </div>  


                    <div class="grid-items-seccion caj-5-sec-3">
                        <p>Alérgenos / Allergens</p>
                    </div> 

                    <div class="grid-items-seccion caj-11-sec-3">
                        <input 
                            style="width: 100%;"
                            type="text" 
                            [(ngModel)]="alergeno" 
                            [value]="alergeno" />
                    </div>  


                    <div class="grid-items-seccion caj-6-sec-3">
                        <p>Condiciones de almacenamiento / Storage conditions</p>
                    </div> 

                    <div class="grid-items-seccion caj-12-sec-3">
                        <input 
                            style="width: 100%;"
                            type="text" 
                            [(ngModel)]="almacenamiento" 
                            [value]="almacenamiento" />
                    </div>  


                    <div class="grid-items-seccion caj-7-sec-3">
                        <p>Vida útil / Shelf life</p>
                    </div> 
                

                    <div class="grid-items-seccion caj-13-sec-3">
                        <input 
                            style="width: 100%;"
                            type="text" 
                            [(ngModel)]="vidaUtil" 
                            [value]="vidaUtil" />
                    </div>  
                </div>
            </div>

             <!-- SECCION 4 -->

            <div class="grid-container-seccion-4" >
                <div class="grid-items-seccion caj-1-sec-4">
                    <h1>CORTE / CUT</h1>
                </div>
            </div>

            <div class="grid-container-imagenes-sec-4" >

                <div class="grid-item-imagenes-sec-4">
                    <label class="boton-de-carga-de-imagen" *ngIf="!imagenSeleccionadaAreaCorte">
                        <input type="file" (change)="MostrarImagenSeleccionada($event, 2)" accept="image/*">
                        <i class="pi pi-upload"></i>
                    </label>
                    <div *ngIf="urlImagenCorte" class="imagen-con-boton">
                        <img [src]="urlImagenCorte" alt="Imagen" />
                        <button (click)="BorrarImagen(2)" aria-label="Eliminar imagen" class="boton-borrar">
                            <i class="pi pi-trash"></i>
                        </button>
                    </div>
                </div>        
            </div>

            <!-- SECCION 5 -->

            <div class="grid-container-seccion-5" >
                <div class="grid-items-seccion caj-1-sec-5">
                    <h1>ENVASE / PACKING</h1>
                </div>
                <div class="grid-items-seccion caj-2-sec-5">
                    <p>Envase primario con etiqueta interna / Primary packing with internal label</p>
                </div>
            </div>

            <div class="grid-container-imagenes-sec-5" >

                <div class="grid-item-imagenes-sec-5">
                    <label class="boton-de-carga-de-imagen" *ngIf="!imagenSeleccionadaAreaEnvase">
                        <input type="file" (change)="MostrarImagenSeleccionada($event, 3)" accept="image/*">
                        <i class="pi pi-upload"></i>
                    </label>
                    <div *ngIf="urlImagenEnvase" class="imagen-con-boton">
                        <img [src]="urlImagenEnvase" alt="Imagen" />
                        <button (click)="BorrarImagen(3)" aria-label="Eliminar imagen" class="boton-borrar">
                            <i class="pi pi-trash"></i>
                        </button>
                    </div>
                </div>        
            </div>

            <!-- SECCION 6 -->
         
            <div class="grid-container-seccion-6" >
                <div class="grid-items-seccion caj-1-sec-6">
                    <p>Tipo / Type</p>
                </div>
            

                <div class="grid-items-seccion caj-2-sec-6">
                    <input 
                        style="width: 100%;"
                        type="text" 
                        [(ngModel)]="tipoDeEnvase" 
                        [value]="tipoDeEnvase" />
                </div>  

                <div class="grid-items-seccion caj-3-sec-6">
                    <p>Presentación / Presentation</p>
                </div>

                <div class="grid-items-seccion caj-4-sec-6">
                    <input 
                        style="width: 100%;"
                        type="text" 
                        [(ngModel)]="presentacionDeEnvase" 
                        [value]="presentacionDeEnvase" />
                </div>  
            </div>

             <!-- SECCION 7 -->

            <div class="grid-container-seccion-7" >
                <div class="grid-items-seccion caj-1-sec-7">
                    <h1>ENVASE SECUNDARIO / SECUNDARY PACKING</h1>
                </div>
                
                <div class="grid-items-seccion caj-2-sec-7">
                    <p>Peso Promedio / Avg. Weight</p>
                </div>

                <div class="grid-items-seccion caj-6-sec-7">
                    <input 
                        style="width: 100%;"
                        type="text" 
                        [(ngModel)]="pesoPromedio" 
                        [value]="pesoPromedio" />
                </div>  


                <div class="grid-items-seccion caj-3-sec-7" >
                    <p>Unidades por caja / Pieces in the box</p>
                </div>

                <div class="grid-items-seccion caj-6-sec-7">
                    <input 
                        style="width: 100%;"
                        type="text" 
                        [(ngModel)]="unidadesPorCaja" 
                        [value]="unidadesPorCaja" />
                </div>   


                <div class="grid-items-seccion caj-4-sec-7">
                    <p>Dimensiones / Dimensions (cm)</p>
                </div>

                <div class="grid-items-seccion caj-7-sec-7">
                    <input 
                        style="width: 100%;"
                        type="text" 
                        [(ngModel)]="dimensiones" 
                        [value]="dimensiones" />
                </div>    

                <div class="grid-item-imagen-1-sec-7">
                    <label class="boton-de-carga-de-imagen" *ngIf="!urlImagenEnvaseSecundario">
                        <input type="file" (change)="MostrarImagenSeleccionada($event, 4)" accept="image/*">
                        <i class="pi pi-upload"></i> <!-- Icono de PrimeNG (puedes usar uno diferente) -->
                    </label>
                    <div *ngIf="urlImagenEnvaseSecundario" class="imagen-con-boton">
                        <img [src]="urlImagenEnvaseSecundario" alt="Imagen" />
                        <button (click)="BorrarImagen(4)" aria-label="Eliminar imagen" class="boton-borrar">
                            <i class="pi pi-trash"></i>
                        </button>
                    </div>
                </div>
                
                <div class="grid-item-imagen-4-sec-7">
                    <label class="boton-de-carga-de-imagen" *ngIf="!urlImagenEnvaseSecundario2">
                        <input type="file" (change)="MostrarImagenSeleccionada($event, 5)" accept="image/*">
                        <i class="pi pi-upload"></i>
                    </label>
                    <div *ngIf="urlImagenEnvaseSecundario2" class="imagen-con-boton">
                        <img [src]="urlImagenEnvaseSecundario2" alt="Imagen" />
                        <button (click)="BorrarImagen(5)" aria-label="Eliminar imagen" class="boton-borrar">
                            <i class="pi pi-trash"></i>
                        </button>
                    </div>
                </div>
                
                
                <div class="grid-items-seccion caj-8-sec-7">
                    <p>Idioma / Language</p>
                </div>

                <div class="grid-items-seccion caj-9-sec-7">
                    <input type="text" [(ngModel)]="idioma" placeholder="Introduzca Los idiomas"/>
                </div>
                
            </div>
        </div>
        
        

        <div *ngIf="seleccionDeEspecificaciones">

            <!-- SECCION 8 -->
            <div class="grid-container-seccion-8">
                <div class="grid-items-seccion caj-1-sec-8">
                    <p>ESPECIFICACIONES / SPECIFICATION</p>
                </div>
                
                <div class="grid-items-seccion caj-2-sec-8">
                    <p>Especificaciones de corte - Cut specifications</p>
                </div>
    
                <div class="grid-items-seccion caj-3-sec-8">
                    <p>Parámetros microbiológicos - Microbiological parameters</p>
                </div>
    
                <div class="grid-items-seccion caj-4-sec-8">
                    <p>Grasa visible/Visible fat</p>
                </div>

                <div class="grid-items-seccion caj-datos-1-sec-8">
                    <input 
                        style="width: 100%; height: 100%;"
                        type="text" 
                        [(ngModel)]="grasaVisible" 
                        [value]="grasaVisible" />
                </div>  
    
                <div class="grid-items-seccion caj-5-sec-8">
                    <p>Espesor cobertura/coverage thickness</p>
                </div>

                <div class="grid-items-seccion caj-datos-2-sec-8">
                    <input 
                        style="width: 100%;  height: 100%;"
                        type="text" 
                        [(ngModel)]="espesorCobertura" 
                        [value]="espesorCobertura" />
                </div>  
                
    
                <div class="grid-items-seccion caj-6-sec-8">
                    <p>Ganglios/Node</p>
                </div>

                <div class="grid-items-seccion caj-datos-3-sec-8">
                    <input 
                        style="width: 100%; height: 100%;"
                        type="text" 
                        [(ngModel)]="ganglios" 
                        [value]="ganglios" />
                </div> 
    
                <div class="grid-items-seccion caj-7-sec-8">
                    <p>Hematomas</p>
                </div>

                <div class="grid-items-seccion caj-datos-4-sec-8">
                    <input 
                        style="width: 100%; height: 100%;"
                        type="text" 
                        [(ngModel)]="hematomas" 
                        [value]="hematomas" />
                </div> 
    
                <div class="grid-items-seccion caj-8-sec-8">
                    <p>Huesos y cartilagos/Bones and cartilage</p>
                </div>

                <div class="grid-items-seccion caj-datos-5-sec-8">
                    <input 
                        style="width: 100%;  height: 100%;"
                        type="text" 
                        [(ngModel)]="huesosCartilagos" 
                        [value]="huesosCartilagos" />
                </div> 
    
                <div class="grid-items-seccion caj-9-sec-8">
                    <p>Elementos extraños/Foreig element</p>
                </div>

                <div class="grid-items-seccion caj-datos-6-sec-8">
                    <input 
                        style="width: 100%; height: 100%;"
                        type="text" 
                        [(ngModel)]="elementosExtranos" 
                        [value]="elementosExtranos" />
                </div> 
    
                <div class="grid-items-seccion caj-10-sec-8">
                    <p>Color/Color</p>
                </div>
                
                <div class="grid-items-seccion caj-datos-7-sec-8">
                    <p>{{ color }}</p>
                </div>
    
                <div class="grid-items-seccion caj-11-sec-8">
                    <p>Olor/odor</p>
                </div>
                <div class="grid-items-seccion caj-datos-8-sec-8">
                    <p>{{ olor }}</p>
                </div>
    
                <div class="grid-items-seccion caj-12-sec-8">
                    <p>pH</p>
                </div>
                <div class="grid-items-seccion caj-datos-9-sec-8">
                    <p>{{ ph }}</p>
                </div>
    
                <div class="grid-items-seccion caj-13-sec-8" *ngIf="aerobiosMesofilosTotales !== 'NO APLICA'">
                    <p>Aerobios mesófilos totales (ufc/g)/ Mesophilic Total (cfu/g)</p>
                </div>

                <div class="grid-items-seccion caj-datos-10-sec-8" *ngIf="aerobiosMesofilosTotales !== 'NO APLICA'">
                    <input 
                        style="width: 100%;  height: 100%;"
                        type="text" 
                        [(ngModel)]="aerobiosMesofilosTotales" 
                        [value]="aerobiosMesofilosTotales" />
                </div> 
    
                <div class="grid-items-seccion caj-14-sec-8" *ngIf="enterobacterias !== 'NO APLICA'">
                    <p>Enterobacterias (ufc/g)/ Enterobacterias (cfu/g)</p>
                </div>

                <div class="grid-items-seccion caj-datos-11-sec-8" *ngIf="enterobacterias !== 'NO APLICA'">
                    <input 
                        style="width: 100%;  height: 100%;"
                        type="text" 
                        [(ngModel)]="enterobacterias" 
                        [value]="enterobacterias" />
                </div> 
    
                <div class="grid-items-seccion caj-15-sec-8" *ngIf="stec0157 !== 'NO APLICA'">
                    <p>STEC O157:H7 (en/in 375g)</p>
                </div>

                <div class="grid-items-seccion caj-datos-12-sec-8" *ngIf="stec0157 !== 'NO APLICA'">
                    <input 
                        style="width: 100%; height: 100%;"
                        type="text" 
                        [(ngModel)]="stec0157" 
                        [value]="stec0157" />
                </div> 
    
                <div class="grid-items-seccion caj-16-sec-8" *ngIf="stecNo0157 !== 'NO APLICA'">
                    <p>STEC no O157:H7 (en/in 375g)</p>
                </div>

                <div class="grid-items-seccion caj-datos-13-sec-8" *ngIf="stecNo0157 !== 'NO APLICA'">
                    <input 
                        style="width: 100%; height: 100%;"
                        type="text" 
                        [(ngModel)]="stecNo0157" 
                        [value]="stecNo0157" />
                </div> 
                
                <div class="grid-items-seccion caj-17-sec-8" *ngIf="salmonella !== 'NO APLICA'">
                    <p>Salmonella (en/in 25g)</p>
                </div>

                <div class="grid-items-seccion caj-datos-14-sec-8" *ngIf="salmonella !== 'NO APLICA'">
                    <input 
                        style="width: 100%;  height: 100%;"
                        type="text" 
                        [(ngModel)]="salmonella" 
                        [value]="salmonella" />
                </div> 
                
                <div class="grid-items-seccion caj-18-sec-8" *ngIf="estafilococos !== 'NO APLICA'">
                    <p>Estafilococos (ufc/g)/Staphylococcus(cfu/g)</p>
                </div>

                <div class="grid-items-seccion caj-datos-15-sec-8" *ngIf="estafilococos !== 'NO APLICA'">
                    <input 
                        style="width: 100%; height: 100%;"
                        type="text" 
                        [(ngModel)]="estafilococos" 
                        [value]="estafilococos" />
                </div> 
                
                <div class="grid-items-seccion caj-19-sec-8" *ngIf="coliformesTotales !== 'NO APLICA'">
                    <p>Coliformes totales (UFC/g)/Total coliforms (CFU/g)</p>
                </div>

                <div class="grid-items-seccion caj-datos-16-sec-8" *ngIf="coliformesTotales !== 'NO APLICA'">
                    <input 
                        style="width: 100%; height: 100%;"
                        type="text" 
                        [(ngModel)]="coliformesTotales" 
                        [value]="coliformesTotales" />
                </div> 

                <div class="grid-items-seccion caj-20-sec-8" *ngIf="coliformesTotales !== 'NO APLICA'">
                    <p>Coliformes fecales (ufc/g)/Fecal coliforms (cfu/g)</p>
                </div>

                <div class="grid-items-seccion caj-datos-17-sec-8" *ngIf="coliformesFecales !== 'NO APLICA'">
                    <input 
                        style="width: 100%; height: 100%;"
                        type="text" 
                        [(ngModel)]="coliformesFecales" 
                        [value]="coliformesFecales" />
                </div> 
                
                <div class="grid-items-seccion caj-21-sec-8" *ngIf="pseudomonas !== 'NO APLICA'">
                    <p>Pseudomonas (UFC/g)</p>
                </div>

                <div class="grid-items-seccion caj-datos-18-sec-8" *ngIf="pseudomonas !== 'NO APLICA'">
                    <input 
                        style="width: 100%; height: 100%;"
                        type="text" 
                        [(ngModel)]="pseudomonas" 
                        [value]="pseudomonas" />
                </div> 
                
                <div class="grid-items-seccion caj-22-sec-8" *ngIf="escherichiaColi !== 'NO APLICA'">
                    <p>Escherichia Coli (UFC/g)</p>
                </div>

                <div class="grid-items-seccion caj-datos-19-sec-8" *ngIf="escherichiaColi !== 'NO APLICA'">
                    <input 
                        style="width: 100%; height: 100%;"
                        type="text" 
                        [(ngModel)]="escherichiaColi" 
                        [value]="escherichiaColi" />
                </div> 
            </div>

        </div>
        
        <!-- SECCION 9 -->
        <div class="grid-container-seccion-9">
            <div class="grid-items-seccion caj-1-sec-9">
                <p>Observaciones / Observations</p>
            </div>
            <div class="grid-items-seccion caj-5-sec-9">
                <input type="text" [(ngModel)]="observacionDelProducto" class="observacion-input" />
            </div>
            
            <div class="grid-items-seccion caj-2-sec-9">
                <p>Elaborado por :</p>
            </div>
            <div class="grid-items-seccion caj-6-sec-9">
                <input type="text" [(ngModel)]="elaboradoPor" style="width: 180px;" />
            </div>

            <div class="grid-items-seccion caj-3-sec-9">
                <p>Aprobado por :</p>
            </div>
            <div class="grid-items-seccion caj-7-sec-9">
                <input type="text" [(ngModel)]="aprobadoPor" />
            </div>

            <div class="grid-items-seccion caj-4-sec-9">
                <p>Fecha: </p>
            </div>
            <div class="grid-items-seccion caj-7-sec-9">
                <p> {{ fechaDelDia }} </p>
            </div>

        </div>

        <div class="grid-container-seccion-10" style="margin-top: 1rem;">            
            <p-button (click)="CrearFichaTecnica()">Crear Ficha Tecnica</p-button>
        </div>
    </div>
  
</body>
