<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css"> -->

<div class="Pantalla">

    <img class="PantallaCompleta" src="./../../../../../../assets/images/imagesStockCajas/PantallaCompleta.png" (click)="fullscreen()">
</div>

<style>
    @import url('../../../../../../assets/css/semantic.min.css');
    @import url('../../../../../../assets/css/milligram.min.css');
</style>

<!-- menu.component.html -->
<div class="">
    <router-outlet></router-outlet>
</div>
  