.PantallaCompleta{
    cursor: pointer;

}

.Pantalla{
    display: flex;
    justify-content: end;
    /* width: 100%; */
    /* background-color: red; */
    height: 6rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.PantallaCompleta:hover{
    transition-duration: 500ms;
    transform: scale(1.2);
    scale: 110%;
}
