.titulo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 1rem;
}

.back {
    position: fixed;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 99;
    height: 50px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    background-color: rgb(231, 76, 60);
    color: #fff;
    font-size: 1rem;
}

.back:hover {
    cursor: pointer;
    background-color: rgba(231, 76, 60, 0.8);
}

@media (max-width:375px) {
    :host ::ng-deep .p-card .p-card-header {
        font-size: 0.8rem;
    }
}