<div class="embarque__container">
    <div class="container--title">Detalle de embarque Israel</div>
    <hr>
    <div class="container--data">
        <div class="data--cofig">
            <config-precios
                (getDatosCarga)="getDatosCarga($event)"
                (habilitarReporte)="habilitar($event)"
                (getCodigosPrecio)="getPrecios($event)"
                (getCodigosKosher)="getConfProductos($event)"
                (pesosContenedoresEmmiter)="getPesosContenedores($event)"
            />
        </div>
        <div class="data--buttons" *ngIf="habilitarReporte">
            <button
                (click)="mostrarConfig()" pButton type="button" [label]="labelConfigurar" icon="pi pi-cog"
                class="p-button-sm p-button-warning btn-config">
            </button>
        </div>
        <div class="data--reporte" *ngIf="habilitarReporte">
            <cortes-group
                [productosKosher]="confProductos"
                [codigosPrecios]="codigosConPrecio"
                [embarqueData]="cajasCarga!"
                [dataConfig]="embarqueData!"
                (habilitarReporte)="habilitar($event)"
            />
        </div>
    </div>
</div>

<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
          <div
             class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8">
             <i class="pi pi-question text-5xl"></i>
          </div>
          <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
          <p class="mb-0">{{ message.message }}</p>
          <div class="flex align-items-center gap-2 mt-4">
                <button pButton label="Aceptar" (click)="cd.accept()" class="w-8rem"></button>
          </div>
       </div>
    </ng-template>
 </p-confirmDialog>

 <scroll-top />