<div class="contenedor-de-pagina">
    <div class="seccion-titulo">
      <h1>Crear Producto Para Ficha Técnica</h1>
    </div>
  
    <div class="seccion-formulario">
      <div class="p-field">
        <label for="prod_buscar">Buscar Producto</label>
        <input 
            id="prod_buscar" 
            type="text" 
            [(ngModel)]="productoBuscado" 
            name="productoBuscado" 
            placeholder="Ingrese el ID del producto">
        <button pButton type="button" label="Buscar" (click)="BuscarProducto()"></button>
      </div>
  
      <form #productoForm="ngForm" *ngIf="productoEncontrado">
        <div class="p-field">
          <label for="prod_codigo">Código de Producto</label>
          <input 
              id="prod_codigo" 
              type="text" 
              [(ngModel)]="codigoProducto" 
              name="codigoProducto" 
              required 
              [disabled]="true"> 
        </div>
  
        <div class="p-field">
          <label for="prod_nombre">Nombre</label>
          <input 
              id="prod_nombre" 
              type="text" 
              [(ngModel)]="nombreProducto" 
              name="nombreProducto" 
              placeholder="Ingrese el nombre del producto" 
              required>
        </div>
  
        <div class="p-field">
          <label for="prod_descripcion">Descripción</label>
          <input 
              id="prod_descripcion" 
              type="text" 
              [(ngModel)]="descripcionProducto" 
              name="descripcionProducto" 
              placeholder="Ingrese una descripción" 
              required>
        </div>
  
        <div class="p-field">
          <label for="prod_calibre">Calibre</label>
          <input 
              id="prod_calibre" 
              type="text" 
              [(ngModel)]="calibreProducto" 
              name="calibreProducto" 
              placeholder="Ingrese un Calibre" 
              required>
        </div>
  
        <button pButton type="button" label="Actualizar" icon="pi pi-pencil" (click)="ActualizarProducto()"></button>
      </form>
  
      <app-sweet-alert-genericos></app-sweet-alert-genericos>
    </div>
  </div>
  