


<div class="contenedor__pagina">
  <button pButton type="button" label="Volver" icon="pi pi-arrow-left" class="btn_volver p-button-text" routerLink="../configuraciones"></button>
  
  <div class="titulo tituloCrearProducto">
    <h1>CREAR PRODUCTO</h1>
  </div>

  <div class="contenedor__columnas__boton">
 
  <div class="contenedor__campos">
    <div class="contenedor-columnas">
      <div class="columna1">
        <div class="contenedor-campos">
          <div class="nombreColumna">Nombre</div>
          <input
            type="text"
            [(ngModel)]="nombre"
            name="nombreProducto"
            placeholder="Ingrese nombre del producto"
            required
          />
        </div>

        

        <div
          class="contenedor-campos divSelect">
          <div class="nombreColumna">Unidad</div>
          <select
            class="select"
            id="unidades"
            [(ngModel)]="idUnidad"
            name="unidades"
            required
          >
            <option
              *ngFor="let unidad of unidades"
              [value]="unidad.idUnidad"
            >
              {{ unidad.nombre }}
            </option>
          </select>
        </div>
      <!-- </div> -->

      <!-- <div class="columna2"> -->
        <div
          class="contenedor-campos"
          *ngIf="descripcion != '' || mostrarUnoEnUno == false">
          <div class="nombreColumna">Código SIR</div>
          <input
            type="text"
            [(ngModel)]="codigoProducto"
            name="codigoProducto"
            placeholder="Ingrese el código SIR"
            required
          />
        </div>

        <div
          class="contenedor-campos"
          *ngIf="codigoProducto != '' || mostrarUnoEnUno == false">
          <div class="nombreColumna">Código PSIG</div>
          <input
            type="text"
            [(ngModel)]="codigoProductoAlternativo"
            name="codigoProductoAlternativo"
            placeholder="Ingrese código PSIG"
          />
        </div>

        <div
          class="contenedor-campos">
          <div class="nombreColumna">Código FIX</div>
          <input
            type="text"
            [(ngModel)]="codigoProductoAlternativo2"
            name="codigoProductoAlternativo2"
            placeholder="Ingrese código FIX"
            required
          />
        </div>

        <div
          class="contenedor-campos">
          <div class="nombreColumna"> Descripción </div>
          <textarea
            type="text"
            [(ngModel)]="descripcion"
            name="descripcion"
            placeholder="Ingrese una descripción"
            rows="1"
            cols="30"
            required
          >
          </textarea> 
        </div>

        <div class="divider__horizontal">

        </div>

        <button *ngIf="!estaEditando"
        pButton
        type="button"
        label="Guardar"
        icon="pi pi-save"
        class="btn_crear"
        (click)="crearProducto()"
        ></button>
        <button *ngIf="estaEditando"
        pButton
        type="button"
        label="Editar Producto"
        icon="pi pi-pencil"
        class="btn_crear"
        (click)="editarProducto()"
        ></button>
  </div>

  <div class="divider__vertical">

  </div>
  <div class="contenedor__atributos-columna2">


    <div class="atributos__titulo">
      <div class="atributos__titulo-valor">
        Atributos
      </div>
    </div>


    <div class="contenedor__DropDrown">

    <div class="dropDown">

   
    <p-dropdown [options]="listaDeAtributosExistentesFiltro" [(ngModel)]="atributoSelecionado" (ngModelChange)="seleccionarAtributo(atributoSelecionado!.nombre,atributoSelecionado!.idAtributo,dropdownValor)" optionLabel="nombre" [filter]="true" filterBy="nombre"
    [showClear]="true" placeholder="Seleccionar Atributo"
    class="drowDownLista"
    >
    <ng-template pTemplate="selectedItem" class="drowDownLista" >
      <div *ngIf="atributoSelecionado">
        <div>{{atributoSelecionado.nombre}}</div>
      </div>
    </ng-template>
    <ng-template let-atributo pTemplate="item">
      <div>
        <div>{{atributo.nombre}}</div>
      </div>
    </ng-template>
  </p-dropdown>

</div>
  
<div class="dropDown">
  <p-dropdown 
  #dropdownValor
    [options]="listaDeAtributosValorFiltro" 
    [(ngModel)]="ValorSeleccionado" 
    (onFilter)="onFilter($event)" 
    (onChange)="agregarAtributoProductoDesdeTabla(ValorSeleccionado!.valor,dropdownValor)" 
    optionLabel="valor" 
    [filter]="true" 
    filterBy="valor"
    [showClear]="true" 
    placeholder="Seleccionar Valor"
    class="drowDownLista"
    [disabled]="!atributoSelecionado"
    >
    
    <ng-template pTemplate="selectedItem">
      <div *ngIf="atributoSelecionado">
        <div>{{ ValorSeleccionado!.valor }}</div>
      </div>
    </ng-template>
    
    <ng-template let-valor pTemplate="item">
      <div>
        <div>{{ valor.valor }}</div>
      </div>
    </ng-template>

    <!-- Template para mostrar opción "Agregar" -->
    <ng-template pTemplate="footer">
      <div *ngIf="mostrarAgregar">
        <button pButton type="button" label="Agregar: {{ textoFiltro }}" (click)="agregarAtributoProductoDesdeTabla(textoFiltro,dropdownValor)"></button>
      </div>
    </ng-template>
  </p-dropdown>
</div>

</div>


    <div class="atributosAgregados">
      <!-- Tabla para ver los atributos que va agregando  -->
      <div class="tablaAtributosAgregados" *ngIf="listaAtributosAgregados.length>0">
  <div class="tablaMostrar">
    <p-table
      class="tabla" 
      [value]="listaAtributosAgregados!"
      [scrollable]="true"
      scrollHeight="500px">
      <ng-template pTemplate="header">
        <tr>
          <th class=""><div class="columna">Atributo</div></th>
          <th class=""><div class="columna">Valor</div></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-atributo>
        <tr>

          <td class="">
            <div class="valor">{{getNombreDesdeId(listaDeAtributosExistentes,atributo.idAtributo,'idAtributo','nombre')}}</div>
          </td>

          <td class="">
            <div class="valor">{{atributo.valor}}</div>
          </td>
          <td class="">
          
              <button pButton type="button" label="" icon="pi pi-trash" class="btn_eliminar" (click)="eliminarAtributoListaAgregado(atributo.idAtributo, atributo.idProductoAtributo)"></button>

          
          </td>
        </tr>
      </ng-template>          
    </p-table>
  </div>
  <!-- Cierra tabla -->
</div>

</div>


  </div>
    </div>
  </div>
</div>
</div>
