

.btn_crear{
    display: flex;
    width: max-content;
    align-self: center;
}

.btn_mostrarPopUp{
    display: flex;
    width: max-content;
    justify-self: start;
}
.btn_cerrarPopUp{
    display: flex;
    justify-self: end;
    margin-top: 0rem;
    background-color: red;
    border-color: rgba(0, 0, 0, 0);
    margin-bottom: 0rem;
}

.columna,
.valor{
    text-align: center;
    justify-content: center;
    align-self: center;
}


.tituloCrearProducto{
    margin-top: 0rem;
}

