.item {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: gainsboro;
}

.item--text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
}
