@import '../../../../node_modules/primeflex/primeflex.min.css';

.mainTitle:hover {
  cursor: pointer;
}

#menuIcon {
  transition: transform 0.3s ease-in-out;
}

#fullTitle:hover {
  opacity: 0.8;
}


#smallTitle {
  display: none;
}

.matToolBar {
    display: flex;
    justify-content: space-between;
    /* background-color: #20245D; */
    /* background-color: #AF6E23; */
    background-color: #645A55;
    color: #F5F0E6;
  }

#profileData {
  display: flex;
}

#greetings {
  display: flex;
  align-items: center;
}

#greetings:hover {
  cursor: pointer;
}

#hola {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#admin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

#menuIcon 
 {
  vertical-align: text-bottom;
}

#menuIcon:hover{
  cursor: pointer;
}


.searchMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#searchContainer {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

#searchInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

#searchInputContainer input {
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  transition: width 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 100;
  height: 2rem;
}

#searchContainer.expanded #searchInputContainer {
  width: auto;
}

#searchContainer.expanded #searchInputContainer input {
  width: 250px; 
  padding: 0.5rem;
  border-radius: 5px;
}

.search__list {
  list-style: none;
  width: 100%;
  padding-left: 0;
}

.search__result {
  position: fixed;
  top: 64px;
  width: stretch;
  display: block;
  z-index: 9999;
  height: auto;
  max-height: 500px;
  font-size: 1rem;
  font-weight: 100;
  color: black;
  overflow-y: scroll;
  border-radius: 5px;
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
  background-color: white;
  opacity: 1;
  box-shadow: -2px 2px 0 gray;
  margin-right: 1rem;
  border: 1px solid gray;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.search__item {
  padding: 0 1rem;
}

.search__item:hover {
  cursor: pointer;
  background-color: rgb(246, 243, 235); 
}

.res__footer {
  position: sticky;
  bottom: 0;
  border-top: 1px solid gray;
  padding-left: 1rem;
  z-index: 9999;
  opacity: 1;
  background-color: white;
}

input::selection {
  background-color: rgb(246, 243, 235); 
}

.p-divider.p-component.p-divider-horizontal.p-divider-solid.p-divider-left {
  margin: 0 !important; 
}

@media screen and (max-width: 600px) {
  .spacer {
    flex: 1 1 auto;
  }
}

@media screen and (max-width: 700px) {
  #greetings {
    display: none;
  }

  #fullTitle {
    display: none;
  }

  #smallTitle {
    display: block;
  }
}
