@import '../../../../node_modules/primeflex/primeflex.min.css';

.mainTitle:hover {
  cursor: pointer;
}

#menuIcon {
  transition: transform 0.3s ease-in-out;
}

#fullTitle:hover {
  opacity: 0.8;
}


#smallTitle {
  display: none;
}

.matToolBar {
    display: flex;
    justify-content: space-between;
    /* background-color: #20245D; */
    /* background-color: #AF6E23; */
    background-color: #645A55;
    color: #F5F0E6;
  }

#profileData {
  display: flex;
}

#greetings {
  display: flex;
  align-items: center;
}

#hola {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#admin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

#menuIcon 
 {
  vertical-align: text-bottom;
}

#menuIcon:hover{
  cursor: pointer;
}



@media screen and (max-width: 600px) {
  .spacer {
    flex: 1 1 auto;
  }
}

@media screen and (max-width: 700px) {
  #greetings {
    display: none;
  }

  #fullTitle {
    display: none;
  }

  #smallTitle {
    display: block;
  }
}
