<div class="exportacion" [@slideInOut]>
    <div class="row" *ngIf="excel"><img class="excel" src="../../../assets/images/excel.png" pTooltip="Exportar a excel" alt="Exportar a excel" (click)="printExcel()"></div>
    <div class="row" *ngIf="pdf"><img class="pdf mt-5"  src="../../../assets/images/pdf.png" alt="Exportar a pdf" (click)="printPdf()"></div>
    <div class="row" *ngIf="printer"><img class="imprimir mt-5" src="../../../assets/images/printer.svg" alt="Imprimir" (click)="printPrinter()"></div>
</div>