<div class="dashboard">
    <div class="container">
        <div class="flowline-1"></div>
        <div class="flowline-2"></div>
        <div class="flowline-3"></div>
        <div class="flowline-4"></div>
        <div class="flowline-5"></div>
        <div class="linea-1">
          <div class="linea-1__hueseros">Hueseros</div>
          <div class="linea-1__charqueo">Charqueadores</div>
          <div class="linea-1__empaque">Empaque</div>
        </div>
        <div class="linea-2">
          <div class="linea-2__hueseros">Hueseros</div>
          <div class="linea-2__charqueo">Charqueadores</div>
          <div class="linea-2__empaque">Empaque</div>
        </div>
        <div class="linea-3">
          <div class="linea-3__hueseros">Hueseros</div>
          <div class="linea-3__charqueo">Charqueadores</div>
          <div class="linea-3__empaque">Empaque</div>
        </div>
        <div class="linea-4">
          <div class="linea-4__hueseros">Hueseros</div>
          <div class="linea-4__charqueo">Charqueadores</div>
          <div class="linea-4__empaque">Empaque</div>
        </div>
        <div class="linea-5">
          <div class="linea-5__hueseros">Hueseros</div>
          <div class="linea-5__charqueo">Charqueadores</div>
          <div class="linea-5__empaque">Empaque</div>
        </div>
        <div class="hueseros-1"></div>
        <div class="hueseros-2"></div>
        <div class="hueseros-3"></div>
        <div class="hueseros-4"></div>
        <div class="hueseros-5"></div>
        <div class="charqueo-1"></div>
        <div class="charqueo-2"></div>
        <div class="charqueo-3"></div>
        <div class="charqueo-4"></div>
        <div class="charqueo-5"></div>
        <div class="empaque-1"></div>
        <div class="empaque-2"></div>
        <div class="empaque-3"></div>
        <div class="empaque-4"></div>
        <div class="empaque-5"></div>
        <div class="total-hueseros-5"></div>
        <div class="total-hueseros-4"></div>
        <div class="total-hueseros-3"></div>
        <div class="total-hueseros-2"></div>
        <div class="total-hueseros-1"></div>
        <div class="total-hueseros"></div>
        <div class="total-charqueo-1"></div>
        <div class="total-charqueo-2"></div>
        <div class="total-charqueo-3"></div>
        <div class="total-charqueo-4"></div>
        <div class="total-charqueo-5"></div>
        <div class="total-charqueo"></div>
        <div class="total-empaque"></div>
        <div class="total-empaque-1"></div>
        <div class="total-empaque-2"></div>
        <div class="total-empaque-3"></div>
        <div class="total-empaque-4"></div>
        <div class="total-empaque-5"></div>
        <div class="empaque-left-1"></div>
        <div class="empaque-left-2"></div>
        <div class="empaque-left-3"></div>
        <div class="empaque-left-4"></div>
        <div class="empaque-left-5"></div>
        <div class="empaque-right-1"></div>
        <div class="empaque-right-2"></div>
        <div class="empaque-right-3"></div>
        <div class="empaque-right-4"></div>
        <div class="empaque-right-5"></div>
        <div class="ini-entrada"></div>
        <div class="fin-entrada"></div>
        <div class="entrada"></div>
        <div class="linea-empaque"></div>
        <div class="nombre-L1">
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea nombre__linea--L"></div>
          <div class="nombre__linea nombre__linea--1"></div>
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea">&nbsp;</div>
        </div>
        <div class="nombre-L2">
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea nombre__linea--L"></div>
          <div class="nombre__linea nombre__linea--2"></div>
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea">&nbsp;</div>
        </div>
        <div class="nombre-L3">
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea nombre__linea--L"></div>
          <div class="nombre__linea nombre__linea--3"></div>
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea">&nbsp;</div>
        </div>
        <div class="nombre-L4">
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea nombre__linea--L"></div>
          <div class="nombre__linea nombre__linea--4"></div>
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea">&nbsp;</div>
        </div>
        <div class="nombre-L5">
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea nombre__linea--L"></div>
          <div class="nombre__linea nombre__linea--5"></div>
          <div class="nombre__linea">&nbsp;</div>
          <div class="nombre__linea">&nbsp;</div>
        </div>
      </div>
</div>

<div class="visualizer">
  <div class="info">
    <i class="pi pi-info-circle"></i>
  </div>
  <div class="borde"></div>
    <ul class="nav">
      <li class="nav__item">
        <!-- <i class="pi pi-hashtag"></i> -->
        <span>Lotes de entrada</span>
      </li>
      <li class="nav__item">
        <span>Detalle de charqueadores</span>
      </li>
    </ul>

</div>