@import "../../../../../node_modules/primeicons/primeicons.css";

.body {
   background-color: #e0e0e0;
}

@media (min-width:1400px) {

   .total__medium.total__visible,
   .total__medium.total__small__visible {
      display: none;
   }

   /* referencias */
   .referencias {
      grid-area: 16 / 4 / 17/ 5;
      padding: 0.5rem;
      display: none;
      flex-direction: column;
      align-items: center;
      background-color: whitesmoke;
      border-radius: 5px;
      box-shadow: 3px 3px 0 #665D53;
      margin: 0.5rem 1rem;
   }

   .referencias__titulo {
      font-size: 1.2rem;
      font-weight: 400;
      color: #665D53;
   }

   .referencias__info {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
   }

   .info--ref {
      flex: 1;
      margin: 0 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 3px;
      color: white;
      font-size: 1rem;
      font-weight: 100;
   }

   .ref--cuartos {
      background-color: rgba(192, 57, 43, 0.8);
      box-shadow: 2px 2px 0 rgb(192, 57, 43);
   }

   .ref--kilos-rec {
      background-color: rgba(202, 111, 30, 0.8);
      box-shadow: 2px 2px 0 rgb(202, 111, 30);
   }

   .ref--kilos-env {
      background-color: rgba(136, 78, 160, 0.8);
      box-shadow: 2px 2px 0 rgb(136, 78, 160);
   }

   .ref--cortes-rec {
      background-color: rgba(46, 134, 193, 0.8);
      box-shadow: 2px 2px 0 rgb(46, 134, 193);
   }

   .ref--cortes-env {
      background-color: rgba(19, 141, 117, 0.8);
      box-shadow: 2px 2px 0 rgb(19, 141, 117);
   }

   /* fin referencias */

   .inReg {
      grid-area: 16 / 2 / 17/ 2;
   }

   .inReg {
      opacity: 0.8;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0.5rem;
      box-shadow: 3px 3px 0 #665D53;
      background-color: white;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
   }

   .inReg:hover {
      opacity: 1;
      cursor: pointer;
      box-shadow: none;
   }

   .inReg:hover>* {
      z-index: 2;
   }

   .inReg__title {
      flex: 1;
      padding: 0.5rem;
      font-size: 1.5rem;
      font-weight: 500;
      margin-left: 0.5rem;
   }

   .inReg__data {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 2;
      padding: 1rem;
      width: 100%;
   }

   .data--cuartos,
   .data--kilos {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .data--cuartos__title,
   .data--kilos__title {
      font-size: 1.3rem;
      align-self: flex-start;
   }

   .data--cuartos__cuartos,
   .data--kilos__kilos {
      margin-top: 0.6rem;
      font-size: 1.5rem;
      align-self: flex-start;
   }

   .data--kilos__kilos,
   .data--kilos__title {
      margin-left: 1rem;
   }

   .inReg__list__item--icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2;
   }

   .inReg__medium__data {
      margin-left: 1rem;
      border-left: 1px solid gray;
      padding-left: 1rem;
      flex: 2;
   }

   .inReg__medium__data,
   .meduim__data--cuartos,
   .meduim__data--kilos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 1rem;
   }

   .meduim__data--value {
      margin-left: 0.7rem;
      font-size: 1.1rem;
      font-weight: 500;
   }

   .meduim__data--title {
      font-size: 1rem;
   }

   .inReg__medium__data {
      display: none;
      transition: all 0.3s ease;
   }

   .inReg__medium__title {
      font-weight: 500;
   }

   .inReg__medium__title:hover+.inReg__medium__data {
      display: flex;
   }

   [class^="hueseros-"] {
      height: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: space-evenly;
   }

   [class^="charqueo-"] {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
   }

   .par,
   .impar {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

   }

   .pack__par,
   .pack__impar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
   }


   [class^="empaque-left-"],
   [class^="empaque-right-"] {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   [class^="total-"] {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .last--charqueo {
      margin-bottom: 0.5rem;
   }


   /* animations */
   @keyframes rotate {
      from {
         transform: rotate(0deg);
      }

      to {
         transform: rotate(360deg);
      }
   }

   .inReg__data--title--display {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   .linea-1__charqueo,
   .linea-2__charqueo,
   .linea-3__charqueo,
   .linea-4__charqueo,
   .linea-5__charqueo,
   .linea-1__hueseros,
   .linea-2__hueseros,
   .linea-3__hueseros,
   .linea-4__hueseros,
   .linea-5__hueseros,
   .linea-1__empaque,
   .linea-2__empaque,
   .linea-3__empaque,
   .linea-4__empaque,
   .linea-5__empaque {
      display: none;
   }

   .referencias {
      display: flex;
   }
}