<div class="reporte__display">
    <div class="display--fecha">
        <div class="fecha--txt">{{reporte?.fecha | date:'dd-MM-yyyy'}}</div>
    </div>
    <div class="divider"></div>
    <br>
    <div class="display--entrada">
        <div class="valor--titulo">ENTRADA</div>
        <div class="entrada--delantero">
            <div class="detalle--titulo">DELANTEROS</div>
            <div class="delantero--detalle">
                <div *ngFor="let delantero of totalDelanteros" class="entrada--tipoCuarto">
                    <div class="detalle--nombre"></div>
                    <div class="detalle--cuartos">{{delantero.cuartos | number:'0.0'}}</div>
                    <div class="detalle--peso">{{delantero.peso | number:'0.2'}}</div>
                    <div class="detalle--peso">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="entrada--trasero">
            <div class="detalle--titulo">TRASEROS</div>
            <div class="trasero--detalle">
                <div *ngFor="let trasero of totalTraseros" class="entrada--tipoCuarto">
                    <div class="detalle--nombre"></div>
                    <div class="detalle--cuartos">{{trasero.cuartos | number:'0.0'}}</div>
                    <div class="detalle--peso">{{trasero.peso | number:'0.2'}}</div>
                    <div class="detalle--peso">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="entrada--total">
            <div class="detalle--titulo valor--titulo">TOTAL</div>
            <div class="total--detalle">
                <div class="entrada--tipoCuarto">
                    <div class="detalle--nombre"></div>
                    <div class="detalle--cuartos valor--titulo">{{totalEntradaPorTipo.cuartos| number:'0.0'}}</div>
                    <div class="detalle--peso valor--titulo">{{totalEntradaPorTipo.peso| number:'0.2'}}</div>
                    <div class="detalle--peso peso__animal valor--titulo">Kg x canal</div>
                </div>
            </div>
        </div>
        <div class="total--animales">
            <div class="detalle--titulo valor--titulo">ANIMALES</div>
            <div class="total--detalle">
                <div class="entrada--tipoCuarto">
                    <div class="detalle--nombre">&nbsp;</div>
                    <div class="detalle--cuartos valor--titulo">{{totalEntradaPorTipo.animales | number:'0.0'}}</div>
                    <div class="detalle--peso valor--titulo">{{totalEntradaPorTipo.peso| number:'0.2'}}</div>
                    <div class="detalle--peso peso__animal valor--titulo">{{totalEntradaPorTipo.pesoAnimal | number:'0.1'}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <br>
    <div class="display--cortes">
        <div class="valor--titulo">SALIDA</div>
        <div class="valor--titulo">CORTES CUOTA</div>
        <div class="cortes--cuota__line">
            <div class="corte--codigo valor--titulo">Código</div>
            <div class="corte--nombre valor--titulo">Producto</div>
            <div class="corte--piezas valor--titulo">Piezas</div>
            <div class="corte--cajas valor--titulo">Cajas</div>
            <div class="corte--peso valor--titulo">Kilos</div>
            <div class="corte--pesoxpieza valor--titulo">Kg/Un</div>
            <div class="corte--rend valor--titulo">Rend</div>
        </div>
        <div class="cortes--cuota">
            <div *ngFor="let corte of cortesCuota" class="cortes--cuota__line">
                <div class="corte--codigo">{{corte.code}}</div>
                <div class="corte--nombre">{{corte.name}}</div>
                <div class="corte--piezas">{{corte.piezas | number:'0.0'}}</div>
                <div class="corte--cajas">{{corte.cajas | number:'0.0'}}</div>
                <div class="corte--peso">{{corte.peso | number:'0.2'}}</div>
                <div class="corte--pesoxpieza">{{corte.pesoPorPieza | number:'0.2'}}</div>
                <div class="corte--rend">{{corte.condition.startsWith('D') ? (corte.peso / pesoDelanteros | percent:'0.2') : (corte.peso / pesoTraseros | percent:'0.2')}}</div>
            </div>
            <div class="cortes--total__cuota">
                <div class="cortes--cuota__line">
                    <div class=""></div>
                    <div class="corte--nombre valor--titulo">TOTAL CORTES CUOTA</div>
                    <div class="corte--piezas"></div>
                    <div class="corte--cajas"></div>
                    <div class="corte--peso valor--titulo">{{totalPesoCortesCuota | number:'0.2'}}</div>
                    <div class="corte--rend"></div>
                    <div class="corte--pesoxpieza valor--titulo">{{rendimientoCortesCuota | percent:'0.2'}}</div>
                </div>
            </div>
        </div>
        <div class="cortes--nocuota">
            <div class="valor--titulo">CORTES SIN DESTINO CUOTA</div>
            <div class="cortes--cuota__line">
                <div class="corte--codigo valor--titulo">Código</div>
                <div class="corte--nombre valor--titulo">Producto</div>
                <div class="corte--piezas valor--titulo"></div>
                <div class="corte--cajas valor--titulo"></div>
                <div class="corte--peso valor--titulo">Kilos</div>
                <div class="corte--pesoxpieza valor--titulo">Kg/Un</div>
                <div class="corte--rend valor--titulo">Rend</div>
            </div>
            <div *ngFor="let corte of cortesDelanterosNoCuota" class="cortes--nocuota__line">
                <div class="corte--codigo">{{corte.code}}</div>
                <div class="corte--nombre">{{corte.name}}</div>
                <div class="corte--piezas"></div>
                <div class="corte--cajas"></div>
                <div class="corte--peso">{{corte.peso | number:'0.2'}}</div>
                <div class="corte--pesoxpieza">{{corte.pesoPorPieza | number:'0.2'}}</div>
                <div class="corte--rend">{{corte.peso / pesoDelanteros | percent:'0.2'}}</div>
            </div>
            <div class="divider"></div>
            <div *ngFor="let corte of cortesTraserosNoCuota" class="cortes--nocuota__line">
                <div class="corte--codigo">{{corte.code}}</div>
                <div class="corte--nombre">{{corte.name}}</div>
                <div class="corte--piezas"></div>
                <div class="corte--cajas"></div>
                <div class="corte--peso">{{corte.peso | number:'0.2'}}</div>
                <div class="corte--pesoxpieza">{{corte.pesoPorPieza | number:'0.2'}}</div>
                <div class="corte--rend">{{corte.peso / pesoTraseros | percent:'0.2'}}</div>
            </div>
            <div class="divider"></div>
            <div class="cortes--nocuota__line">
                <div class="corte--codigo"></div>
                <div class="corte--nombre">MANTA</div>
                <div class="corte--piezas"></div>
                <div class="corte--cajas"></div>
                <div class="corte--peso">{{cortesReporte.manta[0].peso| number:'0.2'}}</div>
                <div class="corte--pesoxpieza"></div>
                <div class="corte--rend">{{cortesReporte.manta[0].peso / totalEntradaPorTipo.peso | percent:'0.2' }}</div>
            </div>
            <div class="cortes--total__cuota">
                <div class="cortes--cuota__line">
                    <div class="corte--nombre valor--titulo">TOTAL CORTES SIN DESTINO CUOTA</div>
                    <div class=""></div>
                    <div class="corte--piezas"></div>
                    <div class="corte--cajas"></div>
                    <div class="corte--peso valor--titulo">{{totalPesoCortesNoCuota | number:'0.2'}}</div>
                    <div class="corte--rend"></div>
                    <div class="corte--pesoxpieza valor--titulo">{{rendimientoCortesNoCuota | percent:'0.2'}}</div>
                </div>
            </div>         
        </div>
    </div>
    <div class="display--total">
        <div class="cortes--total__cuota">
            <div class="cortes--cuota__line">
                <div class="corte--nombre valor--titulo">TOTAL</div>
                <div class=""></div>
                <div class="corte--piezas"></div>
                <div class="corte--peso valor--titulo">{{totalCajas | number:'0.0'}}</div>
                <div class="corte--peso valor--titulo">{{totalPesoCortes | number:'0.2'}}</div>
                <div class="corte--rend"></div>
                <div class="corte--pesoxpieza valor--titulo">{{rendimientoCortesTotal | percent:'0.2'}}</div>
            </div>
        </div>     
    </div>
</div>
