.contenedor-contenedor{
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    /* background-color: red; */
}

button {
    margin: 0;
}
.btn_crear{
    margin-top: 2rem;
    display: flex;
    justify-self: center;
    margin-bottom: 1rem;
    
}
.btn_cerrar{
    background-color: red;
}

.contenedorProducto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    column-gap: 1rem;
}

.contenedor-campos{
    justify-items: center;
    align-content: center;
}


.popUpVerProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
  
    /* Flotante */
    position: fixed; /* Posición fija en la ventana del navegador */
    top: 50%;
    left: 50%;
    z-index: 1000; /* Z-index alto para asegurar que esté sobre otros elementos */
    transform: translate(-50%, -50%);
    background-color: white;
    /* background-color: rgba(255, 255, 255, 0.568); Color de fondo del popup */
    border: 1px solid #ccc; /* Borde del popup */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra suave */
    padding: 20px; /* Espaciado interno del popup */
    /*max-width: 400px; /* Ancho máximo del popup */
    width: max-content;
    overflow-y: auto; /* Scroll vertical si el contenido es largo */
    max-width: 90vw; /* Ajusta el ancho máximo al 90% del ancho de la ventana */
    max-height: 90vh; /* Ajusta la altura máxima al 90% del alto de la ventana */
    /* overflow: auto;  */
  }

  .valor,
  .columna{
    display: flex;
    justify-content: center;
  }

/* achicar espacios en la tabla */
.tabla ::ng-deep .p-datatable-tbody > tr {
    height: auto; /* Ajusta automáticamente la altura */
    line-height: 1; /* Reducir la altura de las filas */
}

/* Ajustar el padding de las celdas */
.tabla ::ng-deep .p-datatable-tbody > tr > td {
    padding: 2px 4px; /* Reducir el espacio interno */
}

.botones_cerrar_popUp{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.prioridad{
    display: flex;
    justify-self: center;
    width: max-content;
    margin-bottom: 2rem;
}