<div class="">
<p-table
    #dt1
    [value]="incidenciasAgrupadas"
    [rows]="15"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[15, 30, 50]"
    [paginator]="false"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"
    [globalFilterFields]="[]"
    [scrollable]="true"
    scrollHeight="600px"
    rowGroupMode="subheader" 
    groupRowsBy="motivo"
    dataKey="motivo"
    [filterDelay]="0">

    <!-- <ng-template pTemplate="caption">
        <div class="flex flex-row justify-content-between align-items-center">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input id="inIncidencia" pInputText type="text" (input)="applyGlobalFilter($event)" (focus)="seleccionarTexto($event);" placeholder="Buscar" value="" />
                </span>
                <button pButton label="Borrar filtro" class="p-button-outlined ml-3" icon="pi pi-filter-slash" (click)="clearTable(dt1)" size="small"></button>
        </div>
    </ng-template> -->
    <ng-template pTemplate="header" let-incidencias>
        <tr>
            <th style="min-width:5rem" class="no-border">
                <div class="flex align-items-center">
                    Nro. Funcionario
                    <!-- <p-columnFilter type="text" field="funcionario.nroFuncionario" display="menu"></p-columnFilter>   -->
                </div>
            </th>
            <th style="min-width:15rem" class="no-border">
                <div class="flex align-items-center">
                    Nombres
                    <!-- <p-columnFilter type="text" field="nombres" display="menu"></p-columnFilter> -->
                </div>
            </th>
            <th style="min-width:15rem" class="no-border">
                <div class="flex align-items-center">
                    Apellidos
                    <!-- <p-columnFilter type="text" field="apellidos" display="menu"></p-columnFilter> -->
                </div>
            </th>
            <th style="min-width:15rem" class="no-border">
                <div class="flex align-items-center">
                    Régimen
                    <!-- <p-columnFilter type="text" field="sector" display="menu"></p-columnFilter> -->
                </div>
            </th>
            <th style="min-width:15rem" class="no-border">
                <div class="flex align-items-center">
                    Sector
                    <!-- <p-columnFilter type="text" field="sector" display="menu"></p-columnFilter> -->
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="groupheader" let-incidencia let-rowIndex="rowIndex" let-expanded="expanded">
        <tr pRowGroupHeader>
            <td colspan="5">
                <div  class="title">
                <button type="button" pButton pRipple [pRowToggler]="incidencia" class="p-button-text p-button-rounded p-button-plain mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                <span class="text-lg ml-2 tag" [pRowToggler]="incidencia"><span>{{incidencia.motivo}}</span>&nbsp;<span>&nbsp;&nbsp;({{totalPorMotivo(incidencia.motivo)}})</span></span>
            </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-incidencia>
            <tr 
                (click)="verMarcas(funcionario.nroFuncionario, $event)"    
                *ngFor="let funcionario of incidencia.funcionarios" class="errores"
                pTooltip="Clic para ver marcas">
                <td style="min-width:15rem" class="dato">
                    {{funcionario.nroFuncionario}}
                </td>
                <td style="min-width:15rem" class="dato">
                    {{funcionario.nombres}}
                </td>
                <td style="min-width:15rem" class="dato">
                    {{funcionario.apellidos}}
                </td>
                <td style="min-width:15rem" class="dato">
                    {{funcionario.regimen}}
                </td>
                <td style="min-width:15rem" class="dato">
                    {{funcionario.sector}}
                </td>
            </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No hay resultados con el criterio de búsqueda especificado</td>
        </tr>
    </ng-template>
</p-table>
</div>