<body>

        <div class="contenido-de-pagina">

            <div class="grid-container-encabezados">
                <div class="grid-encabezado-seccion-1">
                    <input [(ngModel)]="codigoDeProductoInput" placeholder="Ingrese el código del producto" />

                    <button
                     pButton 
                     pRipple 
                     label="Buscar Ficha Tecnica" 
                     class="p-button-success" 
                     (click)="BuscarFichaTecnica()"
                    ></button>

                    <button
                    *ngIf="codigoDeProducto" 
                    pButton 
                    pRipple 
                    (click)="GenerarPDF()"
                    label="Exportar a PDF" 
                    class="p-button-secondary"
                    >                    
                    </button>

                </div>            
            </div>

            <div id="contenidoFichaTecnica" class="borde-negro-de-pagina">
                <div *ngIf="codigoDeProducto">       
                    
                    <!-- SECCION 1 -->

                    <div class="grid-container-seccion-1" >
                        <div class=" caj-1">
                            <img src="assets/images/logos/logo_ficha_tecnica_1.png" style="width: 60px; height: 70px">            
                        </div>
                        
                        <div class="caj-2">
                            <h1>FRIGORIFICO LAS PIEDRAS S.A.</h1>             
                        </div>

                        <!-- grid-items-seccion -->
                        <div class=" caj-3">
                            <div *ngIf="imagenBase64AreaLogo; else noImage">
                                <img [src]="'data:image/png;base64,' + imagenBase64AreaLogo" alt="Imagen" style="max-width: 300px; max-height: 300px;" />
                            </div>
                            <ng-template #noImage>
                                <p>No hay imagen disponible.</p>
                            </ng-template>
                        </div>
                        
                        <!-- grid-items-seccion -->
                        <div class=" caj-4">
                            <p>RUTA 36 km 26.100  - CANELONES - URUGUAY</p>            
                        </div>
                        
                        <!-- grid-items-seccion -->
                        <div class=" caj-5">
                            <p> Tel: (+598) 2367 7720</p>            
                        </div>

                        <!-- grid-items-seccion -->
                        <div class=" caj-6">
                            <p>Website: flp.uy</p>            
                        </div>

                        <!-- grid-items-seccion -->
                        <div class=" caj-7">
                            <p>ESTABLECIMIENTO HABILITADO MGAP 379 </p>            
                        </div>
                    </div>

                    <!-- SECCION 2 -->

                    <div class="grid-container-seccion-2">
                        <div class="grid-items-seccion caj-1-sec-2">
                            <h1>FICHA TÉCNICA / DATA SHEET</h1>
                        </div>   

                        <div class="grid-items-seccion caj-2-sec-2">
                            <p>Producto / Product</p>
                        </div>  
                        <div class="grid-items-seccion cajas-de-datos">
                            <p> {{ descripcionDeProducto }}</p>
                        </div>  


                        <div class="grid-items-seccion caj-3-sec-2">
                            <p>Nombre / Name</p>
                        </div> 
                        <div class="grid-items-seccion cajas-de-datos">
                            <p> {{ nombreDeProducto }}</p>
                        </div>  
                        
                        
                        <div class="grid-items-seccion caj-4-sec-2">
                            <p>Código /Code</p>
                        </div>  
                        <div class="grid-items-seccion cajas-de-datos">
                            <p>{{ codigoDeProducto }}</p>
                        </div>


                        <div class="grid-items-seccion caj-5-sec-2">
                            <p>Otro /Other</p>
                        </div>   
                        <div class="grid-items-seccion cajas-de-datos">
                            <p> {{ descripcionDeProducto }}</p>
                        </div>  
                    </div>

                    <!-- SECCION 3 -->

                    <div class="grid-container-seccion-3">
                        <div class="grid-items-seccion caj-1-sec-3">
                            <h1>ASPECTOS GENERALES / GENERAL DATA</h1>
                        </div> 

                        <div class="grid-items-seccion caj-2-sec-3">
                            <p>Marca / Brand</p>
                        </div>  

                        <div class="grid-items-seccion caj-8-sec-3">
                            <p> {{ marca }}</p>
                        </div>  


                        <div class="grid-items-seccion caj-3-sec-3">
                            <p>Destino / Destination</p>
                        </div> 

                        <div class="grid-items-seccion caj-9-sec-3">
                            <p> {{ destino }}</p>
                        </div>  


                        <div class="grid-items-seccion caj-4-sec-3">
                            <p>Uso previsto / Expected use</p>
                        </div> 

                        <div class="grid-items-seccion caj-10-sec-3">
                            <p> {{ tipoDeUso }}</p>
                        </div> 


                        <div class="grid-items-seccion caj-5-sec-3">
                            <p>Alérgenos / Allergens</p>
                        </div> 

                        <div class="grid-items-seccion caj-11-sec-3">
                            <p> {{ alergeno }}</p>
                        </div>  


                        <div class="grid-items-seccion caj-6-sec-3">
                            <p>Condiciones de almacenamiento / Storage conditions</p>
                        </div> 

                        <div class="grid-items-seccion caj-12-sec-3">
                            <p> {{ alimentacion }}</p>
                        </div>  


                        <div class="grid-items-seccion caj-7-sec-3">
                            <p>Vida útil / Shelf life</p>
                        </div> 
                        
                        <div class="grid-items-seccion caj-13-sec-3">
                            <p> {{ vidaUtil }}</p>
                        </div>  
                    </div>

                    <!-- SECCION 4 -->

                    <div class="grid-container-seccion-4" >
                        <div class="grid-items-seccion caj-1-sec-4">
                            <h1>CORTE / CUT</h1>
                        </div>
                    </div>

                    <div class="grid-container-imagenes-sec-4" >

                        <div class="grid-item-imagenes-sec-4">
                            <div *ngIf="imagenBase64AreaCorte; else noImage">
                                <img [src]="'data:image/png;base64,' + imagenBase64AreaCorte" alt="Imagen"/>
                            </div>
                            <ng-template #noImage>
                                <p>No hay imagen disponible.</p>
                            </ng-template>
                        </div>

                    </div>

                    <!-- SECCION 5 -->

                    <div class="grid-container-seccion-5" >
                        <div class="grid-items-seccion caj-1-sec-5">
                            <h1>ENVASE / PACKING</h1>
                        </div>
                        <div class="grid-items-seccion caj-2-sec-5">
                            <p>Envase primario con etiqueta interna / Primary packing with internal label</p>
                        </div>
                    </div>

                    <div class="grid-container-imagenes-sec-5" >
                        
                        <div class="grid-item-imagenes-sec-5">
                            <div *ngIf="imagenBase64AreaEnvase; else noImage">
                                <img [src]="'data:image/png;base64,' + imagenBase64AreaEnvase" alt="Imagen"/>
                            </div>
                            <ng-template #noImage>
                                <p>No hay imagen disponible.</p>
                            </ng-template>
                        </div>
                            
                    </div>


                    <!-- SECCION 6 -->

                    <div class="grid-container-seccion-6">
                        <div class="grid-items-seccion caj-1-sec-6">
                            <p>Tipo / Type</p>
                        </div>
                        
                        <div class="grid-items-seccion caj-2-sec-6">
                            <p> {{ tipoDeEnvase }}</p>
                        </div>

                        <div class="grid-items-seccion caj-3-sec-6">
                            <p>Presentación / Presentation</p>
                        </div>

                        <div class="grid-items-seccion caj-4-sec-6">
                            <p> {{ presentacionDeEnvase }} </p>
                        </div>
                    </div>

                    <!-- SECCION 7 -->

                    <div class="grid-container-seccion-7" >
                        <div class="grid-items-seccion caj-1-sec-7">
                            <h1>ENVASE SECUNDARIO / SECUNDARY PACKING</h1>
                        </div>
                        
                        <div class="grid-items-seccion caj-2-sec-7">
                            <p>Peso Promedio / Avg. Weight</p>
                        </div>

                        <div class="grid-items-seccion caj-5-sec-7">
                            <p> {{ pesoPromedio }}</p>
                        </div>


                        <div class="grid-items-seccion caj-3-sec-7" >
                            <p>Unidades por caja / Pieces in the box</p>
                        </div>

                        <div class="grid-items-seccion caj-6-sec-7">
                            <p> {{ unidadesPorCaja }}</p>
                        </div>


                        <div class="grid-items-seccion caj-4-sec-7">
                            <p>Dimensiones / Dimensions (cm)</p>
                        </div>

                        <div class="grid-items-seccion caj-7-sec-7">
                            <p> {{ dimensiones }}</p>
                        </div>      

                        <div class="grid-item-imagen-1-sec-7">
                            <div *ngIf="imagenBase64AreaEnvaseSecundario; else noImage">
                                <img [src]="'data:image/png;base64,' + imagenBase64AreaEnvaseSecundario" alt="Imagen"/>
                            </div>
                            <ng-template #noImage>
                                <p>No hay imagen disponible.</p>
                            </ng-template>
                        </div>

                        <div class="grid-item-imagen-4-sec-7">
                            <div *ngIf="imagenBase64AreaEnvaseSecundario2; else noImage">
                                <img [src]="'data:image/png;base64,' + imagenBase64AreaEnvaseSecundario2" alt="Imagen"/>
                            </div>
                            <ng-template #noImage>
                                <p>No hay imagen disponible.</p>
                            </ng-template>
                        </div>

                        <div class="grid-items-seccion caj-8-sec-7">
                            <p>Idioma / Language</p>
                        </div>

                        <div class="grid-items-seccion caj-9-sec-7">
                            <p> {{ idioma }}</p>
                        </div>
                        
                    </div>

                    <!-- SECCION 8 -->

                    <div class="grid-container-seccion-8">
                        <div class="grid-items-seccion caj-1-sec-8">
                            <h1>ESPECIFICACIONES / SPECIFICATION</h1>
                        </div>
                        
                        <div class="grid-items-seccion caj-2-sec-8">
                            <p>Especificaciones de corte - Cut specifications</p>
                        </div>

                        <div class="grid-items-seccion caj-3-sec-8">
                            <p>Parámetros microbiológicos - Microbiological parameters</p>
                        </div>

                        <div class="grid-items-seccion caj-4-sec-8">
                            <p>Grasa visible/Visible fat</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-1-sec-8">
                            <p> {{ grasaVisible }}</p>
                        </div>

                        <div class="grid-items-seccion caj-5-sec-8">
                            <p>Espesor cobertura/coverage thickness</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-2-sec-8">
                            <p> {{ espesorCobertura }}</p>
                        </div>
                        

                        <div class="grid-items-seccion caj-6-sec-8">
                            <p>Ganglios/Node</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-3-sec-8">
                            <p> {{ ganglios }}</p>
                        </div>

                        <div class="grid-items-seccion caj-7-sec-8">
                            <p>Hematomas</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-4-sec-8">
                            <p>{{ hematomas}}</p>
                        </div>

                        <div class="grid-items-seccion caj-8-sec-8">
                            <p>Huesos y cartilagos/Bones and cartilage</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-5-sec-8">
                            <p>{{huesosCartilagos}}</p>
                        </div>

                        <div class="grid-items-seccion caj-9-sec-8">
                            <p>Elementos extraños/Foreig element</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-6-sec-8">
                            <p> {{ elementosExtranos }}</p>
                        </div>

                        <div class="grid-items-seccion caj-10-sec-8">
                            <p>Color/Color</p>
                        </div>
                        
                        <div class="grid-items-seccion caj-datos-7-sec-8">
                            <p>{{ color }}</p>
                        </div>

                        <div class="grid-items-seccion caj-11-sec-8">
                            <p>Olor/odor</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-8-sec-8">
                            <p>{{ olor }}</p>
                        </div>

                        <div class="grid-items-seccion caj-12-sec-8">
                            <p>pH</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-9-sec-8">
                            <p>{{ ph }}</p>
                        </div>

                        <div class="grid-items-seccion caj-13-sec-8" *ngIf="aerobiosMesofilosTotales !== 'NO APLICA'">
                            <p>Aerobios mesófilos totales (ufc/g)/ Mesophilic Total (cfu/g)</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-10-sec-8" *ngIf="aerobiosMesofilosTotales !== 'NO APLICA'">
                            <p>{{ aerobiosMesofilosTotales }}</p>
                        </div>

                        <div class="grid-items-seccion caj-14-sec-8" *ngIf="enterobacterias !== 'NO APLICA'">
                            <p>Enterobacterias (ufc/g)/ Enterobacterias (cfu/g)</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-11-sec-8" *ngIf="enterobacterias !== 'NO APLICA'">
                            <p>{{ enterobacterias }}</p>
                        </div>

                        <div class="grid-items-seccion caj-15-sec-8" *ngIf="stec0157 !== 'NO APLICA'">
                            <p>STEC O157:H7 (en/in 375g)</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-12-sec-8" *ngIf="stec0157 !== 'NO APLICA'">
                            <p>{{ stec0157 }}</p>
                        </div>
                        
                        
                        <div class="grid-items-seccion caj-16-sec-8" *ngIf="stecNo0157 !== 'NO APLICA'">
                            <p>STEC no O157:H7 (en/in 375g)</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-13-sec-8" *ngIf="stecNo0157 !== 'NO APLICA'">
                            <p>{{ stecNo0157 }}</p>
                        </div>
                        
                        <div class="grid-items-seccion caj-17-sec-8" *ngIf="salmonella !== 'NO APLICA'">
                            <p>Salmonella (en/in 25g)</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-14-sec-8" *ngIf="salmonella !== 'NO APLICA'">
                            <p>{{ salmonella }}</p>
                        </div>
                        
                        <div class="grid-items-seccion caj-18-sec-8" *ngIf="estafilococos !== 'NO APLICA'">
                            <p>Estafilococos (ufc/g)/Staphylococcus(cfu/g)</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-15-sec-8" *ngIf="estafilococos !== 'NO APLICA'">
                            <p>{{ estafilococos }}</p>
                        </div>
                        
                        <div class="grid-items-seccion caj-19-sec-8" *ngIf="coliformesTotales !== 'NO APLICA'">
                            <p>Coliformes totales (UFC/g)/Total coliforms (CFU/g)</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-16-sec-8" *ngIf="coliformesTotales !== 'NO APLICA'">
                            <p>{{ coliformesTotales }}</p>
                        </div>
                        
                        <div class="grid-items-seccion caj-20-sec-8" *ngIf="pseudomonas !== 'NO APLICA'">
                            <p>Pseudomonas (UFC/g)</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-17-sec-8" *ngIf="pseudomonas !== 'NO APLICA'">
                            <p>{{ pseudomonas }}</p>
                        </div>
                        
                        <div class="grid-items-seccion caj-21-sec-8" *ngIf="escherichiaColi !== 'NO APLICA'">
                            <p>Escherichia Coli (UFC/g)</p>
                        </div>
                        <div class="grid-items-seccion caj-datos-18-sec-8" *ngIf="escherichiaColi !== 'NO APLICA'">
                            <p>{{ escherichiaColi }}</p>
                        </div>

                    </div>
                    

                    <!-- SECCION 9 -->

                    <div class="grid-container-seccion-9">
                        <div class="grid-items-seccion caj-1-sec-9">
                            <p>Observaciones / Observations</p>
                        </div>
                        <div class="grid-items-seccion caj-5-sec-9">
                            <p class="observacion-input">{{observacionDelProducto}}</p>                            
                        </div>
                        
                        <div class="grid-items-seccion caj-2-sec-9">
                            <p>Elaborado por :</p>
                        </div>
                        <div class="grid-items-seccion caj-6-sec-9">
                            <p> {{ elaboradoPor }} </p>
                        </div>

                        <div class="grid-items-seccion caj-3-sec-9">
                            <p>Aprobado por :</p>
                        </div>
                        <div class="grid-items-seccion caj-7-sec-9">
                            <p> {{ aprobadoPor }} </p>
                        </div>

                        <div class="grid-items-seccion caj-4-sec-9">
                            <p>Fecha: </p>
                        </div>
                        <div class="grid-items-seccion caj-7-sec-9">
                            <p> {{ fechaDelDia }} </p>
                        </div>

                    </div>
                </div>

                <div *ngIf="loadingDePdf" class="loading-overlay">
                    <div class="spinner"></div>
                    <p>Cargando PDF...</p>
                </div>
            </div>
        </div>

</body>
     