
.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Asegura que ocupe todo el ancho */
}

.p-table {
    flex: 1; /* Permite que la tabla ocupe el espacio restante */
    width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
}


td {
    flex: 1; /* Asegura que cada celda ocupe un espacio igual */
    padding: 0.5rem; /* Espaciado interno */
}

td:last-child {
    display: flex; /* Hacer que la última celda sea un flex */
    justify-content: flex-end; /* Alinear los botones a la derecha */
    align-items: center;
}

button {
    margin-left: 0.5rem; /* Espacio entre botones */
}

.descripcion{
    width: 100%; /* Asegura que el textarea ocupe todo el ancho de la celda */
    min-height: 100px; /* Altura mínima */
    max-height: 200px; /* Altura máxima */
    resize: vertical; /* Permitir redimensionar solo verticalmente */
}