<h1>Ficha Técnica Sección Destinos</h1>
<button (click)="CrearElemento()" pButton label="Crear Destino"></button>

<div class="flex-container">
    <p-table    
        [value]="responseDestinoDTO"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 15, 20]"
        [scrollable]="true">

        <ng-template pTemplate="header">
            <tr>
                <th style="width:20%">ID Destino</th>
                <th style="width:30%">Nombre</th>
                <th style="width:30%">Descripción</th>
                <th style="width:20%">Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-element>
            <tr>
                <td>{{element.idDestino}}</td>
                <td>
                    <input *ngIf="destinoSeleccionado?.idDestino === element.idDestino" [(ngModel)]="destinoSeleccionado!.nombre" />
                    <span *ngIf="destinoSeleccionado?.idDestino !== element.idDestino">{{element.nombre}}</span>
                </td>
                <td class="descripcion">
                    <input *ngIf="destinoSeleccionado?.idDestino === element.idDestino" [(ngModel)]="destinoSeleccionado!.descripcion" />
                    <span *ngIf="destinoSeleccionado?.idDestino !== element.idDestino">{{element.descripcion}}</span>
                </td>
                <td>
                    <button pButton icon="pi pi-pencil" (click)="EditarElemento(element)" *ngIf="destinoSeleccionado?.idDestino !== element.idDestino"></button>
                    <button pButton icon="pi pi-check" (click)="GuardarCambios()" *ngIf="destinoSeleccionado?.idDestino === element.idDestino"></button>
                    <button pButton icon="pi pi-trash" (click)="EliminarElemento(element)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
