<h1>Ficha Técnica Sección Alimentación</h1>
<button (click)="CrearElemento()" pButton label="Crear Tipo de Alimentación"></button>

<div class="flex-container">
    <p-table    
        [value]="responseAlimentacionDTO"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 15, 20]"
        [scrollable]="true">

        <ng-template pTemplate="header">
            <tr>
                <th style="width:20%">ID Alimentación</th>
                <th style="width:20%">Nombre</th>
                <th style="width:20%">Tipo</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-element>
            <tr>
                <td>{{element.idAlimentacion}}</td>
                <td>
                    <input *ngIf="alimentacionSeleccionada?.idAlimentacion === element.idAlimentacion" [(ngModel)]="alimentacionSeleccionada!.nombre" />
                    <span *ngIf="alimentacionSeleccionada?.idAlimentacion !== element.idAlimentacion">{{element.nombre}}</span>
                </td>
                <td class="tipo">
                    <input *ngIf="alimentacionSeleccionada?.idAlimentacion === element.idAlimentacion" [(ngModel)]="alimentacionSeleccionada!.tipo" />
                    <span *ngIf="alimentacionSeleccionada?.idAlimentacion !== element.idAlimentacion">{{element.tipo}}</span>
                </td>
                <td>
                    <button pButton icon="pi pi-pencil" (click)="EditarElemento(element)" *ngIf="alimentacionSeleccionada?.idAlimentacion !== element.idAlimentacion"></button>
                    <button pButton icon="pi pi-check" (click)="GuardarCambios()" *ngIf="alimentacionSeleccionada?.idAlimentacion === element.idAlimentacion"></button>
                    <button pButton icon="pi pi-trash" (click)="EliminarElemento(element)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
