<div class="configuracion__container">
    <div class="configuracion-configs">
        <!-- <div class="configuracion-titulo">
            <div>Configuraciones generales</div>
        </div> -->
        <p-tabView>
            <p-tabPanel header="Listado Productos" [selected]="true">
                <app-ver-productos></app-ver-productos>
            </p-tabPanel>
            <p-tabPanel header="Empresa" >
                <app-crear-empresa></app-crear-empresa>
            </p-tabPanel>
            <p-tabPanel header="Atributo">
                <app-crear-atributo></app-crear-atributo>
            </p-tabPanel>
            <p-tabPanel header="Departamento">
                <app-crear-departamento></app-crear-departamento>
            </p-tabPanel>
            <p-tabPanel header="Centro de costo">
                <app-crear-centro-de-costo></app-crear-centro-de-costo>
            </p-tabPanel>
            <p-tabPanel header="Área destino">
                <app-crear-area-destino></app-crear-area-destino>
            </p-tabPanel>
            <p-tabPanel header="Almacén">
                <app-crear-almacen></app-crear-almacen>
            </p-tabPanel>
            <p-tabPanel header="Unidad">
                <app-crear-unidad></app-crear-unidad>
            </p-tabPanel>
            <p-tabPanel header="Usuario">
                <app-crear-usuario></app-crear-usuario>
            </p-tabPanel>
            <p-tabPanel header="Prioridad">
                <app-crear-prioridad></app-crear-prioridad>
            </p-tabPanel>
            <p-tabPanel header="Estado de Solicitud" >
                <app-crear-estado-solicitud></app-crear-estado-solicitud>
            </p-tabPanel>
            <p-tabPanel header="Stock de Productos">
                <app-stock-producto></app-stock-producto>
            </p-tabPanel>
            <p-tabPanel header="Roles">
                <app-crear-rol></app-crear-rol>
            </p-tabPanel>
            
        </p-tabView>
        
    </div>
</div>






