<div *ngFor="let mercaderiaKey of getKeys(dataGroup)">
    <div *ngFor="let containerKey of getKeys(dataGroup[mercaderiaKey].containers)">
      <div *ngFor="let especieKey of getKeys(dataGroup[mercaderiaKey].containers[containerKey].especies)">
        <div *ngFor="let tipoProductoKey of getKeys(dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos)">
          <div *ngFor="let precioKey of getKeys(dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey].precios)">
            <div class="item">
                <div class="item--text">{{ dua }}</div>
                <div class="item--text">{{ mercaderiaKey }}</div>
                <div class="item--text">{{cantidadPallets(dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey].precios[+precioKey].items)}}</div>
                <div class="item--text">{{ dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey].precios[+precioKey].items.length }}</div>
                <div class="item--text">{{ dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey].precios[+precioKey].totalPesoNeto | number:'0.2'}}</div>
                <div class="item--text">{{ dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey].precios[+precioKey].totalPesoBruto| number:'0.2' }}</div>
                <div class="item--text">{{ dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey].precios[+precioKey].totalPesoNeto * (+precioKey / 1000) | number:'0.2'}}</div>
                <div class="item--text">{{ (+precioKey / 1000) | number:'0.2' }}</div>
                <div class="item--text especie">{{especieKey}} {{ tipoProductoKey }}</div>
                <div class="item--text"></div>
                <div class="item--text"></div>
                <div class="item--text"></div>
                <div class="item--text"></div>
                <div class="item--text">{{ dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey].precios[+precioKey].totalPesoNeto * (+precioKey / 1000) | number:'0.2' }}</div>
                <div class="item--text">{{ (+precioKey / 1000) | number:'0.2' }}</div>
            </div>
          </div>
          <div class="total">
            <div class="item--text"></div>
            <div class="item--text"></div>
            <div class="item--text">{{totalPalletsPorContenedor2(dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey])}}</div>
            <div class="item--text">{{totalCajasPorContenedor2(dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey])}}</div>
            <div class="item--text">{{ dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey].totalPesoNeto| number:'0.2' }}</div>
            <div class="item--text">{{ dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey].totalPesoBruto | number:'0.2' }}</div>
            <div class="item--text">{{sumarPrecioContainer2(dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey]) | number:'0.2' }}</div>
            <div class="item--text">{{sumarPrecioContainer2(dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey]) / dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey].totalPesoNeto | number:'0.2' }}</div>
            <div class="item--text"></div>
            <div class="item--text">{{ containerKey }}</div>
            <div class="item--text"></div>
            <div class="item--text"></div>
            <div class="item--text"></div>
            <div class="item--text">{{sumarPrecioContainer2(dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey]) | number:'0.2' }}</div>
            <div class="item--text">{{sumarPrecioContainer2(dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey]) / dataGroup[mercaderiaKey].containers[containerKey].especies[especieKey].tipoProductos[tipoProductoKey].totalPesoNeto | number:'0.2' }}</div>
        </div>
        <br>
        </div>
      </div>
    </div>
</div>

<total-show 
    titulo="TOTAL"
    [datosKosher]="datosKosher"
/>