<div *ngFor="let cont of contenedores">
  <div *ngFor="let data of getDataByContainer(cont)">
    <div class="item">
      <div class="item--text"></div>
      <div class="item--text">{{data.mercaderia}}</div>
      <div class="item--text">{{data.cantidadPallets}}</div>
      <div class="item--text">{{data.cantidadCajas | number:'0.0'}}</div>
      <div class="item--text">{{data.kilosNetos | number:'0.2'}}</div>
      <div class="item--text">{{data.kilosBrutos | number:'0.2'}}</div>
      <div class="item--text">{{data.precioTotal | number:'0.2'}}</div>
      <div class="item--text">{{data.precioPromedio | number:'0.2'}}</div>
      <div class="item--text especie">{{data.especieTipo}}</div>
      <div class="item--text"></div>
      <div class="item--text"></div>
      <div class="item--text"></div>
      <div class="item--text"></div>
      <div class="item--text">{{data.precioTotal | number:'0.2'}}</div>
      <div class="item--text">{{data.precioPromedio | number:'0.2'}}</div>
    </div>
  </div>
  <div class="total">
    <div class="item--text"></div>
    <div class="item--text"></div>
    <div class="item--text">{{dataTotal.cantidadPallets | number:'0.0'}}</div>
    <div class="item--text">{{dataTotal.cantidadCajas | number:'0.0'}}</div>
    <div class="item--text">{{dataTotal.kilosNetos | number:'0.2'}}</div>
    <div class="item--text">{{dataTotal.kilosBrutos | number:'0.2'}}</div>
    <div class="item--text">{{dataTotal.precioTotal | number:'0.2'}}</div>
    <div class="item--text">{{dataTotal.precioPromedio | number:'0.2'}}</div>
    <div class="item--text"></div>
    <div class="item--text"></div>
    <div class="item--text"></div>
    <div class="item--text"></div>
    <div class="item--text"></div>
    <div class="item--text">{{dataTotal.precioTotal | number:'0.2'}}</div>
    <div class="item--text">{{dataTotal.precioPromedio | number:'0.2'}}</div>
  </div>
</div>

<br>

<total-show 
    titulo="TOTAL"
    [totalPalletsCount]="totalPalletsByContainer"
    [datosKosher]="datosKosher" />
