*{
    font-family: sans-serif;
  }
  .data__container {
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  
  .data__title {
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: #d5f5e3;
      font-weight: 500;
      padding:  0.2rem ;
      font-size: 0.9rem
  }
  
  .values--text,
  .values--v
  {
    flex: 1;
    text-align: center;
  }
  
  
  .data__values {
    display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0 0.2rem;
  }
  
  .values--v {
    font-size: 0.8rem;
  }
  
  .data__values:nth-child(odd) {
    background-color: #ebf5fb;
  }
  
  .data {
    flex: 2;
  }
  
  .total {
     font-size: 1.2rem;
    font-weight: 600;
  }
  
  .total-data {
    background-color: #2980b9;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
  }