
* {
    box-sizing: border-box;
}

body, html{
    height: 100%; 
    margin: 0; 
    padding: 1rem;
    background-color: #868687; 
    display: flex;
    justify-content: center; 
    align-items: baseline;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333; 
    text-align: center;
}

label, h3 {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; 
}

input, textarea, .p-dropdown {
    width: 90%; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    transition: border-color 0.3s;
}

input:focus, textarea:focus, .p-dropdown:focus {
    border-color: #007ad9; 
    outline: none; 
}

button {
    margin-right: 10px; 
    margin-top: 10px; 
}

.contenedor-de-pagina {
    width: 1000px;
    height: auto; /* Alto A4 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.flex-contenedor-acciones {
    display: flex; 
    align-items: center; 
    gap: 30px; 
    margin-bottom: 0.5rem;
}

.busqueda-plantilla {
    margin-top: 20px; /* Espacio entre el combo y el input */
}

.input-container {
    margin-bottom: 10px; /* Espacio entre el input y el botón */
    width: 450px;
}



.seccion-titulo {
    margin-bottom: 20px;
    font: small-caps 150%/200% serif; 
    font-weight: bold;
}

.grid-contenedor-acciones {
    display: flex; 
    align-items: center; 
    gap: 30px; 
}

.acciones-pDropdown,
.acciones-select {
    display: flex; 
    align-items: center; 
    gap: 10px;  
}


.seccion-formulario {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 800px; 
    margin-bottom: 2rem;
}

.checkbox-container {
    display: flex; 
    align-items: center; 
}

.checkbox-container input[type="checkbox"] {
    margin-left: 10px; 
}


