.table__row {
    font-size: 0.9rem !important;
}

.table__row:nth-child(even) {
    background-color: #ECE6D2 !important;
}

.no__loged {
    justify-self: center !important;
}

.table__texto {
    min-width: 12rem;
}

.table__texto__sm {
    min-width: 5rem;
}